_build/n8n_workflows/entity_validator_autofiller.json
{
    "updatedAt": "2026-01-16T07:22:00.573Z",
    "createdAt": "2025-12-30T10:45:18.852Z",
    "id": "H5UsoJ7wtVltkCPf",
    "name": "LOOP Entity Validator & Auto-filler",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
        {
            "parameters": {},
            "id": "c90999c6-f49a-469f-a56e-3b426a461b56",
            "name": "Manual Trigger (Test)",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                -3024,
                5024
            ],
            "notes": "v7: \uc218\ub3d9 \ud14c\uc2a4\ud2b8\uc6a9 \ud2b8\ub9ac\uac70. \ud2b9\uc815 \ud504\ub85c\uc81d\ud2b8\ub9cc \ud14c\uc2a4\ud2b8\ud560 \ub54c \uc0ac\uc6a9."
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "test_project_id",
                            "name": "test_project_id",
                            "value": "prj-002",
                            "type": "string"
                        },
                        {
                            "id": "test_phase",
                            "name": "test_phase",
                            "value": "expected_impact",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "cf144318-1594-4001-b0b2-9d9052784acf",
            "name": "Set Test Project",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                -2832,
                5024
            ],
            "notes": "v7: \ud14c\uc2a4\ud2b8\ud560 project_id\uc640 phase \uc124\uc815. \uac12\uc744 \uc218\uc815 \ud6c4 Manual Trigger \uc2e4\ud589."
        },
        {
            "parameters": {
                "url": "=https://mcp.sosilab.synology.me/api/projects/{{ $json.test_project_id }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.LOOP_API_TOKEN }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "afb4e037-c481-4978-a5d7-665b87d05c28",
            "name": "Get Single Project",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -2624,
                5024
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "I4hdpx6QgaqnNS7P",
                    "name": "LOOP API Token"
                }
            },
            "notes": "v7: \ub2e8\uc77c \ud504\ub85c\uc81d\ud2b8 \uc870\ud68c (\ud14c\uc2a4\ud2b8\uc6a9)"
        },
        {
            "parameters": {
                "jsCode": "// v8: Build test item for single project (suggest-batch API \uc0ac\uc6a9)\n// Manual Trigger \uacbd\ub85c\uc5d0\uc11c \ub2e8\uc77c \ud504\ub85c\uc81d\ud2b8\ub97c Filter Impact Needed \ud615\uc2dd\uc73c\ub85c \ubcc0\ud658\n\nconst input = $input.first().json;\nconst testPhase = $('Set Test Project').first().json.test_phase || 'expected_impact';\n\n// API \uc751\ub2f5\uc5d0\uc11c project \ucd94\ucd9c\nconst project = input.project || input;\n\nif (!project.entity_id) {\n  throw new Error('Project not found or invalid response');\n}\n\n// run_id \uc0dd\uc131\nfunction generateRunId() {\n  const iso = new Date().toISOString();\n  const datePart = iso.slice(0, 10).replace(/-/g, '');\n  const timePart = iso.slice(11, 19).replace(/:/g, '');\n  const rand = Math.random().toString(36).slice(2, 8);\n  return `run-${datePart}-${timePart}-${rand}-test`;\n}\n\nconst run_id = generateRunId();\n\n// Filter Impact Needed \ucd9c\ub825 \ud615\uc2dd\uc73c\ub85c \ubcc0\ud658\nconst result = {\n  meta_entity_id: project.entity_id,\n  meta_entity_name: project.entity_name,\n  meta_phase: testPhase,\n  meta_run_id: run_id,\n  entity_id: project.entity_id,\n  entity_name: project.entity_name,\n  entity_type: 'Project',\n  phase: testPhase,\n  needs_llm: true,\n  // v6: suggest-batch API\uc6a9 \uc694\uccad \ub370\uc774\ud130\n  api_request: testPhase === 'expected_impact' ? {\n    run_id: run_id,\n    items: [{ project_id: project.entity_id }],\n    mode: 'pending',\n    provider: 'openai',\n    actor: 'n8n-test',\n    source_workflow: 'entity-validator'\n  } : {\n    // realized_impact\ub294 \uae30\uc874 Evidence API \uc0ac\uc6a9\n    project_id: project.entity_id,\n    run_id: run_id,\n    mode: 'pending',\n    provider: 'openai',\n    actor: 'n8n-test',\n    create_pending: true,\n    schema_version: '5.3',\n    source_workflow: 'entity-validator',\n    retrospective_content: null,\n    actual_result: null\n  },\n  original_entity: project,\n  is_test: true\n};\n\nreturn [{ json: result }];"
            },
            "id": "d6b209eb-35cf-4231-9529-97a22ea21011",
            "name": "Build Test Item",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -2432,
                5024
            ],
            "notes": "v7: \ub2e8\uc77c \ud504\ub85c\uc81d\ud2b8\ub97c Impact \ud14c\uc2a4\ud2b8 \ud615\uc2dd\uc73c\ub85c \ubcc0\ud658"
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "hours",
                            "hoursInterval": 6
                        }
                    ]
                }
            },
            "id": "d4d2b2b1-95a0-4316-a6d7-c89f14d070d7",
            "name": "Schedule Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.1,
            "position": [
                -3024,
                5328
            ]
        },
        {
            "parameters": {
                "url": "https://mcp.sosilab.synology.me/api/strategy/context",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.LOOP_API_TOKEN }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "fc8b4c3f-2827-4f5e-870f-6aa0b4c4639d",
            "name": "Get Strategy Context",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -2832,
                5328
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "I4hdpx6QgaqnNS7P",
                    "name": "LOOP API Token"
                }
            },
            "notes": "\ud55c \ubc88\uc758 API \ud638\ucd9c\ub85c \uc804\uccb4 \uc804\ub7b5 \uacc4\uce35 (NorthStar, MH, Conditions, Tracks, Hypotheses) \uc870\ud68c"
        },
        {
            "parameters": {
                "jsCode": "// Build Strategy Context Text for LLM prompts\n// \uc804\ub7b5 \uacc4\uce35\uc744 LLM\uc774 \uc774\ud574\ud560 \uc218 \uc788\ub294 \ud14d\uc2a4\ud2b8\ub85c \ubcc0\ud658\n\nconst input = $input.first().json;\n\nconst northstars = input.northstars || [];\nconst metahypotheses = input.metahypotheses || [];\nconst conditions = input.conditions || [];\nconst tracks = input.tracks || [];\nconst hypotheses = input.hypotheses || [];\n\n// Format as human-readable for LLM prompt\nconst strategyContextText = `\n## \uc804\ub7b5 \uacc4\uce35 (Strategy Hierarchy)\n\n### 10-year Vision (North Star)\n${northstars.map(ns => `- ${ns.entity_id}: ${ns.entity_name}`).join('\\n')}\n\n### Meta Hypotheses (MH1-4)\n${metahypotheses.map(mh => `- ${mh.entity_id}: ${mh.entity_name}\\n  - if_broken: ${mh.if_broken || 'N/A'}`).join('\\n')}\n\n### 3-year Conditions (cond-a ~ cond-e)\n${conditions.map(c => `- ${c.entity_id}: ${c.entity_name}\\n  - unlock: ${c.unlock || 'N/A'}\\n  - if_broken: ${c.if_broken || 'N/A'}`).join('\\n')}\n\n### 12-month Tracks (trk-1 ~ trk-6)\n${tracks.map(t => `- ${t.entity_id}: ${t.entity_name}\\n  - hypothesis: ${t.hypothesis || 'N/A'}\\n  - focus: ${(t.focus || []).join(', ')}\\n  - conditions_3y: ${(t.conditions_3y || []).join(', ')}`).join('\\n')}\n\n### Hypotheses (hyp-*)\n${hypotheses.slice(0, 15).map(h => `- ${h.entity_id}: ${h.entity_name}\\n  - question: ${h.hypothesis_question || h.hypothesis_text || 'N/A'}`).join('\\n')}\n${hypotheses.length > 15 ? `\\n... (${hypotheses.length - 15} more hypotheses)` : ''}\n`;\n\nreturn [{\n  json: {\n    strategyContext: {\n      northstars: northstars,\n      metahypotheses: metahypotheses,\n      conditions: conditions,\n      tracks: tracks,\n      hypotheses: hypotheses\n    },\n    strategyContextText: strategyContextText\n  }\n}];"
            },
            "id": "71d402d6-f7dd-44fb-b313-cdaa5729e111",
            "name": "Build Strategy Context",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -2624,
                5328
            ]
        },
        {
            "parameters": {
                "url": "https://mcp.sosilab.synology.me/api/tasks",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.LOOP_API_TOKEN }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "5a0a91ec-2d66-4031-ae58-b42c81a48359",
            "name": "Get Tasks",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -2432,
                5136
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "I4hdpx6QgaqnNS7P",
                    "name": "LOOP API Token"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Phase 1: Task Schema Validation\n// - done/blocked \uc0c1\ud0dc\ub294 due_date \uccb4\ud06c \uc2a4\ud0b5\n// - missing_due_date, missing_assignee\ub294 LLM\uc73c\ub85c\n// - v3: conditions_3y \uac80\uc99d \uc81c\uac70 (Task\ub294 Project\ub97c \ud1b5\ud574 Condition\uc5d0 \uc5f0\uacb0)\n\nconst tasksInput = $input.first().json;\nconst contextInput = $('Build Strategy Context').first().json;\n\nconst tasks = tasksInput.tasks || [];\nconst strategyContextText = contextInput.strategyContextText || '';\nconst strategyContext = contextInput.strategyContext || {};\n\nconst results = [];\n\n// Valid values from schema_constants.yaml\nconst VALID_STATUS = ['todo', 'doing', 'hold', 'done', 'blocked'];\nconst VALID_PRIORITY = ['critical', 'high', 'medium', 'low'];\nconst VALID_TYPES = ['dev', 'strategy', 'research', 'ops', null];\nconst VALID_ASSIGNEES = ['\uae40\uc740\ud5a5', '\uc18c\uc0c1\ubbfc'];\n\n// LLM\uc774 \ud544\uc694\ud55c \uc774\uc288 \ubaa9\ub85d (v3: conditions_3y \uc81c\uac70)\nconst LLM_REQUIRED_ISSUES = ['missing_due_date', 'missing_assignee'];\n\n// LLM \ud504\ub86c\ud504\ud2b8 \ube4c\ub354 \ud568\uc218\nfunction buildLlmPrompt(task, issues) {\n  const taskJson = JSON.stringify(task, null, 2);\n  const issueList = Array.isArray(issues) && issues.length > 0 ? issues.join(', ') : 'none';\n  \n  return `You are a LOOP Vault schema expert. Given the following Task entity and strategy context, suggest appropriate values for missing or invalid fields.\n\n${strategyContextText}\n\n---\n\n## Task to Validate\n\\`\\`\\`json\n${taskJson}\n\\`\\`\\`\n\n## Issues Detected\n${issueList}\n\n## Instructions\n\nFor assignee, choose from: ${VALID_ASSIGNEES.join(', ')}\n\nFor due, suggest a reasonable date in YYYY-MM-DD format based on task complexity and current date (today is ${new Date().toISOString().split('T')[0]}).\n\nIMPORTANT: Analyze the task name (entity_name), notes, project_id, and tags to understand the task context.\n\nRespond with ONLY a valid JSON object (no markdown, no code blocks) with these fields:\n- suggested_fields: object with field names and suggested values\n- reasoning: object with field names and brief Korean explanation for each suggestion`;\n}\n\nfor (const task of tasks) {\n  const issues = [];\n  const suggestions = {};\n  const reasoning = {};\n\n  // Required field checks\n  if (!task.entity_id) {\n    issues.push('missing_entity_id');\n  }\n  if (!task.entity_name) {\n    issues.push('missing_entity_name');\n  }\n  if (!task.project_id) {\n    issues.push('missing_project_id');\n  }\n\n  // Status validation\n  if (task.status && !VALID_STATUS.includes(task.status)) {\n    issues.push('invalid_status');\n    suggestions.status = 'todo';\n    reasoning.status = `Invalid status \"${task.status}\". Defaulting to \"todo\".`;\n  }\n\n  // Priority validation\n  if (task.priority && !VALID_PRIORITY.includes(task.priority)) {\n    issues.push('invalid_priority');\n    suggestions.priority = 'medium';\n    reasoning.priority = `Invalid priority \"${task.priority}\". Defaulting to \"medium\".`;\n  }\n\n  // Type validation\n  if (task.type && !VALID_TYPES.includes(task.type)) {\n    issues.push('invalid_type');\n    suggestions.type = null;\n    reasoning.type = `Invalid type \"${task.type}\". Setting to null.`;\n  }\n\n  // assignee check\n  if (!task.assignee) {\n    issues.push('missing_assignee');\n    reasoning.assignee = 'assignee \ubbf8\uc9c0\uc815. \ub9e5\ub77d \uae30\ubc18 \ucd94\ub860 \ud544\uc694.';\n  }\n\n  // due date check - todo/doing \uc0c1\ud0dc\ub9cc \uccb4\ud06c (done/blocked\ub294 \uc2a4\ud0b5)\n  const needsDueDate = ['todo', 'doing'].includes(task.status);\n  if (needsDueDate && !task.due && !task.due_date) {\n    issues.push('missing_due_date');\n    reasoning.due = 'due_date \ubbf8\uc9c0\uc815. \ub9e5\ub77d \uae30\ubc18 \ucd94\ub860 \ud544\uc694.';\n  }\n\n  // \uc774\uc288\uac00 \uc788\ub294 \uacbd\uc6b0\ub9cc \uacb0\uacfc\uc5d0 \ucd94\uac00\n  if (issues.length > 0) {\n    // LLM \ud544\uc694 \uc5ec\ubd80 \ud310\ub2e8\n    const needsLlm = issues.some(issue => LLM_REQUIRED_ISSUES.includes(issue));\n    \n    // deterministic_fixes\uac00 \ube44\uc5b4\uc788\uace0 LLM\ub3c4 \ud544\uc694\uc5c6\uc73c\uba74 \uc2a4\ud0b5\n    const hasDeterministicFixes = Object.keys(suggestions).length > 0;\n    if (!needsLlm && !hasDeterministicFixes) {\n      continue; // \uc758\ubbf8\uc5c6\ub294 pending \uc0dd\uc131 \ubc29\uc9c0\n    }\n\n    const result = {\n      entity_id: task.entity_id,\n      entity_name: task.entity_name,\n      entity_type: 'Task',\n      phase: 'task_schema',\n      issues: issues,\n      deterministic_fixes: suggestions,\n      needs_llm: needsLlm,\n      has_deterministic_fixes: hasDeterministicFixes,\n      reasoning: reasoning,\n      original_entity: task\n    };\n    \n    // LLM\uc774 \ud544\uc694\ud55c \uacbd\uc6b0\uc5d0\ub9cc \ud504\ub86c\ud504\ud2b8 \uc0dd\uc131\n    if (needsLlm) {\n      result.llm_prompt = buildLlmPrompt(task, issues);\n    }\n    \n    results.push(result);\n  }\n}\n\nreturn results.map(r => ({ json: r }));"
            },
            "id": "b51db517-e0d9-41b2-93a3-5a22a19bada5",
            "name": "Validate Tasks",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -2224,
                5136
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.needs_llm === true && !!$json.llm_prompt }}",
                            "value2": true
                        }
                    ]
                },
                "options": {}
            },
            "id": "fccdcc0c-7d5c-4cd4-8928-a3dc4a5b0d01",
            "name": "Tasks Need LLM?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                -2032,
                5136
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://mcp.sosilab.synology.me/api/ai/infer/task_schema",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.LOOP_API_TOKEN }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ { \"task_id\": $json.entity_id, \"issues\": $json.issues, \"mode\": \"auto_apply\", \"provider\": \"openai\", \"actor\": \"n8n\", \"original_entity\": $json.original_entity, \"strategy_context\": $('Build Strategy Context').first().json.strategyContext, \"create_pending\": true, \"schema_version\": \"5.3\", \"source_workflow\": \"entity-validator\" } }}",
                "options": {
                    "response": {
                        "response": {}
                    }
                }
            },
            "id": "cd6932ee-e5ba-44f4-bc50-cad4eb9aff15",
            "name": "Call AI Router (Task Schema)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -1824,
                5024
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "I4hdpx6QgaqnNS7P",
                    "name": "LOOP API Token"
                }
            },
            "notes": "v5: AI Router \ud1b5\ud569 - pending \uc790\ub3d9 \uc0dd\uc131, audit \ub85c\uadf8 \ud1b5\ud569"
        },
        {
            "parameters": {
                "jsCode": "// Parse AI Router response for Tasks (v5)\n// AI Router \uc751\ub2f5: { ok, run_id, patch, suggested_fields, reasoning, warnings, pending, audit_ref }\n// pending\uc774 \uc774\ubbf8 \uc0dd\uc131\ub418\uc5c8\uc73c\ubbc0\ub85c \ubcc4\ub3c4 Create Pending \ub178\ub4dc \ubd88\ud544\uc694\n\nconst input = $input.first().json;\n\n// v5: includeInputData\ub85c \uc6d0\ubcf8 \uc785\ub825\uc774 \ud3ec\ud568\ub428\nconst inputData = input.$input?.item?.json || input.$input?.items?.[0]?.json || {};\n\n// entity \uc815\ubcf4 \ucd94\ucd9c (\uc5ec\ub7ec fallback \uacbd\ub85c)\nconst entity_id = input.entity_id || inputData.entity_id || null;\nconst entity_name = input.entity_name || inputData.entity_name || 'unknown';\nconst phase = 'task_schema';\n\n// \uc5d0\ub7ec \ucc98\ub9ac\nif (!input.ok) {\n  return [{\n    json: {\n      entity_id: entity_id || 'unknown',\n      entity_type: 'Task',\n      entity_name,\n      phase,\n      success: false,\n      error: input.error || 'AI Router call failed',\n      run_id: input.run_id || 'unknown'\n    }\n  }];\n}\n\n// AI Router\uac00 \uc774\ubbf8 pending\uc744 \uc0dd\uc131\ud588\uc73c\ubbc0\ub85c \uc131\uacf5 \uc751\ub2f5 \ubc18\ud658\nreturn [{\n  json: {\n    entity_id,\n    entity_type: 'Task',\n    entity_name,\n    phase,\n    success: true,\n    run_id: input.run_id,\n    suggested_fields: input.suggested_fields || {},\n    reasoning: input.reasoning || {},\n    warnings: input.warnings || [],\n    pending: input.pending,\n    audit_ref: input.audit_ref\n  }\n}];"
            },
            "id": "e9908d30-4349-4b21-93dd-903bc1e3ff53",
            "name": "Parse Tasks Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -1632,
                5024
            ],
            "notes": "v5: AI Router \uc751\ub2f5 \ud30c\uc2f1 (pending \uc774\ubbf8 \uc0dd\uc131\ub428)"
        },
        {
            "parameters": {
                "url": "https://mcp.sosilab.synology.me/api/projects",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.LOOP_API_TOKEN }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "876be67d-ab56-46a9-bc26-de149f7a5f91",
            "name": "Get Projects",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -2432,
                5536
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "I4hdpx6QgaqnNS7P",
                    "name": "LOOP API Token"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Phase 2: Project Schema Validation (v5.2)\n// - owner, parent_id (Track), conditions_3y \ud544\uc218\n// - primary_hypothesis_id, validates, condition_contributes, track_contributes LLM \ucd94\ub860\n// - validated_by\ub294 derived \ud544\ub4dc \u2192 \uc81c\uc548\ud558\uc9c0 \uc54a\uc74c\n// - v3: Schema v5.2 \ubc18\uc601 (prj-impact-schema-v2)\n\nconst projectsInput = $input.first().json;\nconst contextInput = $('Build Strategy Context').first().json;\n\nconst projects = projectsInput.projects || [];\nconst strategyContextText = contextInput.strategyContextText || '';\nconst strategyContext = contextInput.strategyContext || {};\n\nconst results = [];\n\n// Valid values\nconst VALID_STATUS = ['planning', 'active', 'paused', 'done', 'cancelled'];\nconst VALID_PRIORITY = ['critical', 'high', 'medium', 'low'];\nconst VALID_OWNERS = ['\uae40\uc740\ud5a5', '\uc18c\uc0c1\ubbfc'];\nconst VALID_CONDITION_IDS = ['cond-a', 'cond-b', 'cond-c', 'cond-d', 'cond-e'];\nconst VALID_TRACK_IDS = ['trk-1', 'trk-2', 'trk-3', 'trk-4', 'trk-5', 'trk-6'];\n\n// LLM\uc774 \ud544\uc694\ud55c \uc774\uc288 \ubaa9\ub85d (v5.2: hypothesis_id \u2192 primary_hypothesis_id, validates \ucd94\uac00)\nconst LLM_REQUIRED_ISSUES = [\n  'missing_owner', 'missing_parent_id', 'missing_conditions_3y',\n  'missing_primary_hypothesis_id', 'missing_validates',\n  'missing_condition_contributes', 'missing_track_contributes'\n];\n\n// LLM \ud504\ub86c\ud504\ud2b8 \ube4c\ub354 \ud568\uc218 (v5.2)\nfunction buildLlmPrompt(project, issues) {\n  const projectJson = JSON.stringify(project, null, 2);\n  const issueList = Array.isArray(issues) && issues.length > 0 ? issues.join(', ') : 'none';\n  \n  // Hypothesis \ubaa9\ub85d (LLM\uc774 \uc120\ud0dd\ud560 \uc218 \uc788\ub3c4\ub85d)\n  const hypothesesList = (strategyContext.hypotheses || []).map(h => \n    `- ${h.entity_id}: ${h.entity_name}`\n  ).join('\\n');\n  \n  return `You are a LOOP Vault schema expert (Schema v5.2). Given the following Project entity and strategy context, suggest appropriate values for missing or invalid fields.\n\n${strategyContextText}\n\n---\n\n## Project to Validate\n\\`\\`\\`json\n${projectJson}\n\\`\\`\\`\n\n## Issues Detected\n${issueList}\n\n## Instructions\n\n### For owner\nChoose from: ${VALID_OWNERS.join(', ')}\n\n### For parent_id (Track)\nChoose the primary Track this project belongs to:\n${VALID_TRACK_IDS.map(t => `- ${t}`).join('\\n')}\n\n### For conditions_3y\nList of 3Y Conditions this project contributes to (array):\n- cond-a: Product-Market Fit (\uc81c\ud488-\uc2dc\uc7a5 \uc801\ud569\uc131)\n- cond-b: Revenue Model (\uc218\uc775 \ubaa8\ub378)\n- cond-c: Scalability (\ud655\uc7a5\uc131)\n- cond-d: Team (\ud300)\n- cond-e: Tech/Infrastructure (\uae30\uc220/\uc778\ud504\ub77c)\n\n### For validates (optional but recommended) - v5.2\nArray of Hypothesis IDs this project validates.\nSelect from 60_Hypotheses:\n${hypothesesList}\nExample: [\"hyp-2-01\", \"hyp-2-03\"]\nIf no hypotheses to validate, set to empty array [].\n\n### For primary_hypothesis_id (optional) - v5.2\nThe MAIN hypothesis this project was created to validate.\nMust be one of the values in validates array, or null.\n\u26a0\ufe0f DEPRECATED: hypothesis_id - Use primary_hypothesis_id instead.\n\n### For condition_contributes (required) - v5.1\nArray of Condition contribution weights. Example:\n[\n  { \"to\": \"cond-a\", \"weight\": 0.6, \"description\": \"PMF \uac80\uc99d\uc5d0 60% \uae30\uc5ec\" },\n  { \"to\": \"cond-e\", \"weight\": 0.4, \"description\": \"\uae30\uc220 \uc778\ud504\ub77c \uad6c\ucd95\uc5d0 40% \uae30\uc5ec\" }\n]\n- Weights should sum to \u2264 1.0\n- Choose conditions based on what this project actually contributes to\n\n### For track_contributes (optional) - v5.1\nIf this project contributes to secondary Tracks (beyond parent_id), specify:\n[\n  { \"to\": \"trk-2\", \"weight\": 0.3, \"description\": \"\ub370\uc774\ud130 \ud30c\uc774\ud504\ub77c\uc778\uc5d0 \ubd80\ubd84 \uae30\uc5ec\" }\n]\n- Only include if the project genuinely contributes to other Tracks\n- Leave empty array [] if only primary Track\n\n### \u26d4 NEVER suggest these derived fields (v5.2):\n- validated_by: computed from Evidence (\uc5ed\uc778\ub371\uc2a4 \uacc4\uc0b0)\n- realized_sum: computed from child Projects (\ud558\uc704 \uc9d1\uacc4)\n\nIMPORTANT: Analyze the project name (entity_name), notes, and context to understand what this project is about. Match strategic elements based on actual project purpose.\n\nRespond with ONLY a valid JSON object (no markdown, no code blocks) with these fields:\n- suggested_fields: object with field names and suggested values\n- reasoning: object with field names and brief Korean explanation for each suggestion`;\n}\n\nfor (const project of projects) {\n  const issues = [];\n  const suggestions = {};\n  const reasoning = {};\n\n  // Required field checks\n  if (!project.entity_id) {\n    issues.push('missing_entity_id');\n  }\n  if (!project.entity_name) {\n    issues.push('missing_entity_name');\n  }\n\n  // Status validation\n  if (project.status && !VALID_STATUS.includes(project.status)) {\n    issues.push('invalid_status');\n    suggestions.status = 'planning';\n    reasoning.status = `Invalid status \"${project.status}\". Defaulting to \"planning\".`;\n  }\n\n  // owner check\n  if (!project.owner) {\n    issues.push('missing_owner');\n    reasoning.owner = 'owner \ubbf8\uc9c0\uc815. \ub9e5\ub77d \uae30\ubc18 \ucd94\ub860 \ud544\uc694.';\n  }\n\n  // parent_id check (Track)\n  if (!project.parent_id) {\n    issues.push('missing_parent_id');\n    reasoning.parent_id = 'parent_id (Track) \ubbf8\uc9c0\uc815. \ub9e5\ub77d \uae30\ubc18 \ucd94\ub860 \ud544\uc694.';\n  }\n\n  // conditions_3y validation\n  if (!project.conditions_3y || project.conditions_3y.length === 0) {\n    issues.push('missing_conditions_3y');\n    reasoning.conditions_3y = 'Project\ub294 3Y Condition \uc5f0\uacb0 \ud544\uc218. LLM \ucd94\ub860 \ud544\uc694.';\n  }\n\n  // validates check (v5.2 - optional but recommended)\n  if (!project.validates || project.validates.length === 0) {\n    issues.push('missing_validates');\n    reasoning.validates = 'validates \ubbf8\uc9c0\uc815. \uac80\uc99d\ud558\ub824\ub294 \uac00\uc124\uc774 \uc788\ub2e4\uba74 \uc5f0\uacb0 \uad8c\uc7a5.';\n  }\n\n  // primary_hypothesis_id check (v5.2 - replaces hypothesis_id)\n  if (!project.primary_hypothesis_id && !project.hypothesis_id) {\n    issues.push('missing_primary_hypothesis_id');\n    reasoning.primary_hypothesis_id = 'primary_hypothesis_id \ubbf8\uc9c0\uc815. validates \uc911 \ud575\uc2ec \uac00\uc124 1\uac1c \uc5f0\uacb0 \uad8c\uc7a5.';\n  }\n\n  // condition_contributes check (required for impact calculation)\n  if (!project.condition_contributes || project.condition_contributes.length === 0) {\n    issues.push('missing_condition_contributes');\n    reasoning.condition_contributes = 'condition_contributes \ubbf8\uc9c0\uc815. \uac01 Condition\uc5d0 \ub300\ud55c \uae30\uc5ec\ub3c4 \ud544\uc694.';\n  }\n\n  // \uc774\uc288\uac00 \uc788\ub294 \uacbd\uc6b0\ub9cc \uacb0\uacfc\uc5d0 \ucd94\uac00\n  if (issues.length > 0) {\n    const needsLlm = issues.some(issue => LLM_REQUIRED_ISSUES.includes(issue));\n    const hasDeterministicFixes = Object.keys(suggestions).length > 0;\n    \n    if (!needsLlm && !hasDeterministicFixes) {\n      continue;\n    }\n\n    const result = {\n      entity_id: project.entity_id,\n      entity_name: project.entity_name,\n      entity_type: 'Project',\n      phase: 'project_schema',\n      issues: issues,\n      deterministic_fixes: suggestions,\n      needs_llm: needsLlm,\n      has_deterministic_fixes: hasDeterministicFixes,\n      reasoning: reasoning,\n      original_entity: project\n    };\n    \n    if (needsLlm) {\n      result.llm_prompt = buildLlmPrompt(project, issues);\n    }\n    \n    results.push(result);\n  }\n}\n\nreturn results.map(r => ({ json: r }));"
            },
            "id": "c34bdc76-8fd9-4ba2-9c82-65f9001d1c15",
            "name": "Validate Projects",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -2224,
                5536
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.needs_llm === true && !!$json.llm_prompt }}",
                            "value2": true
                        }
                    ]
                },
                "options": {}
            },
            "id": "72ae39a1-42d6-49a2-abc8-1747d15cbad8",
            "name": "Projects Need LLM?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                -2032,
                5536
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://mcp.sosilab.synology.me/api/ai/infer/project_schema",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.LOOP_API_TOKEN }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ { \"project_id\": $json.entity_id, \"issues\": $json.issues, \"mode\": \"auto_apply\", \"provider\": \"openai\", \"actor\": \"n8n\", \"original_entity\": $json.original_entity, \"strategy_context\": $('Build Strategy Context').first().json.strategyContext, \"create_pending\": true, \"schema_version\": \"5.3\", \"source_workflow\": \"entity-validator\" } }}",
                "options": {
                    "response": {
                        "response": {}
                    }
                }
            },
            "id": "98acb771-06cc-4e58-a14e-69fafc2a334e",
            "name": "Call AI Router (Project Schema)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -1824,
                5424
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "I4hdpx6QgaqnNS7P",
                    "name": "LOOP API Token"
                }
            },
            "notes": "v5: AI Router \ud1b5\ud569 - pending \uc790\ub3d9 \uc0dd\uc131, audit \ub85c\uadf8 \ud1b5\ud569"
        },
        {
            "parameters": {
                "jsCode": "// Parse AI Router response for Projects (v5)\n// AI Router \uc751\ub2f5: { ok, run_id, patch, suggested_fields, reasoning, warnings, pending, audit_ref }\n// pending\uc774 \uc774\ubbf8 \uc0dd\uc131\ub418\uc5c8\uc73c\ubbc0\ub85c \ubcc4\ub3c4 Create Pending \ub178\ub4dc \ubd88\ud544\uc694\n\nconst input = $input.first().json;\n\n// v5: includeInputData\ub85c \uc6d0\ubcf8 \uc785\ub825\uc774 \ud3ec\ud568\ub428\nconst inputData = input.$input?.item?.json || input.$input?.items?.[0]?.json || {};\n\n// entity \uc815\ubcf4 \ucd94\ucd9c (\uc5ec\ub7ec fallback \uacbd\ub85c)\nconst entity_id = input.entity_id || inputData.entity_id || null;\nconst entity_name = input.entity_name || inputData.entity_name || 'unknown';\nconst phase = 'project_schema';\n\n// \uc5d0\ub7ec \ucc98\ub9ac\nif (!input.ok) {\n  return [{\n    json: {\n      entity_id: entity_id || 'unknown',\n      entity_type: 'Project',\n      entity_name,\n      phase,\n      success: false,\n      error: input.error || 'AI Router call failed',\n      run_id: input.run_id || 'unknown'\n    }\n  }];\n}\n\n// AI Router\uac00 \uc774\ubbf8 pending\uc744 \uc0dd\uc131\ud588\uc73c\ubbc0\ub85c \uc131\uacf5 \uc751\ub2f5 \ubc18\ud658\nreturn [{\n  json: {\n    entity_id,\n    entity_type: 'Project',\n    entity_name,\n    phase,\n    success: true,\n    run_id: input.run_id,\n    suggested_fields: input.suggested_fields || {},\n    reasoning: input.reasoning || {},\n    warnings: input.warnings || [],\n    pending: input.pending,\n    audit_ref: input.audit_ref\n  }\n}];"
            },
            "id": "c0ce0ac3-d41f-4e10-8037-a67b39d73281",
            "name": "Parse Projects Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -1632,
                5424
            ],
            "notes": "v5: AI Router \uc751\ub2f5 \ud30c\uc2f1 (pending \uc774\ubbf8 \uc0dd\uc131\ub428)"
        },
        {
            "parameters": {
                "jsCode": "// Phase 3: Project Impact Auto-fill (v6 - suggest-batch API \uc0ac\uc6a9)\n// v6: /api/ai/infer/project_impact \u2192 /api/mcp/impact/expected/suggest-batch \ubcc0\uacbd\n// suggest-batch\ub294 constraints \ub85c\uc9c1\uc774 \uc788\uc5b4 Track\ubcc4 \uac00\uc124 \ud544\ud130\ub9c1 \uc9c0\uc6d0\n\nconst projectsInput = $('Get Projects').first().json;\nconst projects = projectsInput.projects || [];\n\nconst results = [];\n\n// run_id \uc0dd\uc131 \ud568\uc218 (\uac01 \uc694\uccad\ub9c8\ub2e4 \uace0\uc720 ID)\nfunction generateRunId() {\n  const iso = new Date().toISOString();\n  const datePart = iso.slice(0, 10).replace(/-/g, '');\n  const timePart = iso.slice(11, 19).replace(/:/g, '');\n  const rand = Math.random().toString(36).slice(2, 8);\n  return `run-${datePart}-${timePart}-${rand}`;\n}\n\nfor (const project of projects) {\n  // Check if expected_impact is missing or incomplete\n  const needsExpectedImpact = !project.expected_impact || \n    !project.expected_impact.tier ||\n    project.expected_impact.tier === null ||\n    project.tier === null;\n  \n  // Check if realized_impact is needed (done/cancelled projects)\n  const isCompleted = ['done', 'cancelled'].includes(project.status);\n  const needsRealizedImpact = isCompleted && (!project.realized_impact || !project.realized_impact.verdict);\n  \n  if (needsExpectedImpact) {\n    const run_id = generateRunId();\n    results.push({\n      json: {\n        // v4.1: meta_* \ud0a4 (HTTP includeInputData\ub85c \uc751\ub2f5\uc5d0 \ud3ec\ud568\ub428)\n        meta_entity_id: project.entity_id,\n        meta_entity_name: project.entity_name,\n        meta_phase: 'expected_impact',\n        meta_run_id: run_id,\n        // \uae30\uc874 \ud544\ub4dc \uc720\uc9c0 (\ub2e4\uc6b4\uc2a4\ud2b8\ub9bc \ub178\ub4dc \ud638\ud658)\n        entity_id: project.entity_id,\n        entity_name: project.entity_name,\n        entity_type: 'Project',\n        phase: 'expected_impact',\n        needs_llm: true,\n        // v6: suggest-batch API\uc6a9 \uc694\uccad \ub370\uc774\ud130\n        api_request: {\n          run_id: run_id,\n          items: [{ project_id: project.entity_id }],\n          mode: 'pending',\n          provider: 'openai',\n          actor: 'n8n',\n          source_workflow: 'entity-validator'\n        },\n        original_entity: project\n      }\n    });\n  }\n  \n  if (needsRealizedImpact) {\n    const run_id = generateRunId();\n    results.push({\n      json: {\n        // v4.1: meta_* \ud0a4 (HTTP includeInputData\ub85c \uc751\ub2f5\uc5d0 \ud3ec\ud568\ub428)\n        meta_entity_id: project.entity_id,\n        meta_entity_name: project.entity_name,\n        meta_phase: 'realized_impact',\n        meta_run_id: run_id,\n        // \uae30\uc874 \ud544\ub4dc \uc720\uc9c0 (\ub2e4\uc6b4\uc2a4\ud2b8\ub9bc \ub178\ub4dc \ud638\ud658)\n        entity_id: project.entity_id,\n        entity_name: project.entity_name,\n        entity_type: 'Project',\n        phase: 'realized_impact',\n        needs_llm: true,\n        // v4: ai router\uc6a9 \uc694\uccad \ub370\uc774\ud130 (Evidence \uc5d4\ub4dc\ud3ec\uc778\ud2b8\ub294 \uadf8\ub300\ub85c \uc720\uc9c0)\n        api_request: {\n          project_id: project.entity_id,\n          run_id: run_id,\n          mode: 'pending',\n          provider: 'openai',\n          actor: 'n8n',\n          create_pending: true,\n          schema_version: '5.3',\n          source_workflow: 'entity-validator',\n          retrospective_content: null,\n          actual_result: null\n        },\n        original_entity: project\n      }\n    });\n  }\n}\n\nreturn results;"
            },
            "id": "8bf6f842-3061-4a95-8e7c-112300589002",
            "name": "Filter Impact Needed",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -2224,
                5824
            ],
            "notes": "v4.1: run_id \uc0dd\uc131 + meta_* \ud0a4 \ucd94\uac00 (HTTP includeInputData \uc9c0\uc6d0)"
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.needs_llm === true && !!$json.api_request }}",
                            "value2": true
                        }
                    ]
                },
                "options": {}
            },
            "id": "78a4a3c4-4f4c-43e2-b647-aedef551f007",
            "name": "Impact Need LLM?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                -2080,
                5824
            ]
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "combinator": "and"
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.phase }}",
                                        "rightValue": "expected_impact",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ]
                            },
                            "renameOutput": true,
                            "outputKey": "Expected"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "combinator": "and"
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.phase }}",
                                        "rightValue": "realized_impact",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ]
                            },
                            "renameOutput": true,
                            "outputKey": "Realized"
                        }
                    ]
                },
                "options": {}
            },
            "id": "d6acef10-e3ed-492b-9002-b0da3cb7a902",
            "name": "Route by Phase",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3,
            "position": [
                -1920,
                5824
            ],
            "notes": "v7: Switch \ub178\ub4dc\ub85c \ubcc0\uacbd (Code multi-output \ubc84\uadf8 \uc6b0\ud68c)"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://mcp.sosilab.synology.me/api/mcp/impact/expected/suggest-batch",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.LOOP_API_TOKEN }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ $json.api_request }}",
                "options": {
                    "response": {
                        "response": {}
                    }
                }
            },
            "id": "3915ff7b-27db-4812-8978-c2fb7ba1d929",
            "name": "Call AI Router (Expected)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -1728,
                5728
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "I4hdpx6QgaqnNS7P",
                    "name": "LOOP API Token"
                }
            },
            "notes": "v4: /api/ai/infer/project_impact - Expected Impact (A Score)"
        },
        {
            "parameters": {
                "jsCode": "// v6: Extract Attachment Texts (tsk-dashboard-ux-v1-21)\n// Realized Impact \uacbd\ub85c\uc5d0\uc11c \ucca8\ubd80\ud30c\uc77c \ud14d\uc2a4\ud2b8 \ucd94\ucd9c \ud6c4 api_request\uc5d0 \ucd94\uac00\n//\n// \ud750\ub984:\n// 1. GET /api/projects/{id}/tasks\n// 2. \uac01 Task\ubcc4 GET /api/tasks/{id}/attachments\n// 3. \ud14d\uc2a4\ud2b8 \ucd94\ucd9c \uac00\ub2a5\ud55c \ud30c\uc77c\ub9cc GET /api/tasks/{id}/attachments/{filename}/text\n// 4. \ucd94\ucd9c\ub41c \ud14d\uc2a4\ud2b8\ub97c retrospective_content\ub85c \ubcd1\ud569\n\nconst item = $input.first().json;\nconst projectId = item.entity_id;\nconst API_URL = 'https://mcp.sosilab.synology.me';\n\n// \ud658\uacbd\ubcc0\uc218\uc5d0\uc11c \ud1a0\ud070 \uac00\uc838\uc624\uae30\nconst TOKEN = $env.LOOP_API_TOKEN;\n\nif (!TOKEN) {\n  // \ud1a0\ud070 \uc5c6\uc73c\uba74 \uadf8\ub0e5 \ud1b5\uacfc (\ud14d\uc2a4\ud2b8 \uc5c6\uc774 \uc9c4\ud589)\n  return [{ json: item }];\n}\n\nconst headers = {\n  'Authorization': `Bearer ${TOKEN}`,\n  'Content-Type': 'application/json'\n};\n\nconst extractedTexts = [];\n\ntry {\n  // 1. Get project tasks\n  const tasksResp = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `${API_URL}/api/projects/${projectId}/tasks`,\n    headers: headers,\n    returnFullResponse: false\n  });\n  \n  const tasks = tasksResp.tasks || [];\n  \n  for (const task of tasks) {\n    try {\n      // 2. Get task attachments\n      const attachResp = await this.helpers.httpRequest({\n        method: 'GET',\n        url: `${API_URL}/api/tasks/${task.entity_id}/attachments`,\n        headers: headers,\n        returnFullResponse: false\n      });\n      \n      const attachments = attachResp.attachments || [];\n      \n      // 3. Filter extractable formats\n      const extractable = attachments.filter(a => {\n        const ext = (a.filename || '').split('.').pop().toLowerCase();\n        return ['pdf', 'hwp', 'hwpx', 'doc', 'docx', 'txt', 'md'].includes(ext);\n      });\n      \n      // 4. Extract text from each attachment\n      for (const att of extractable) {\n        try {\n          const textResp = await this.helpers.httpRequest({\n            method: 'GET',\n            url: `${API_URL}/api/tasks/${task.entity_id}/attachments/${encodeURIComponent(att.filename)}/text?max_chars=50000`,\n            headers: headers,\n            returnFullResponse: false\n          });\n          \n          if (textResp.success && textResp.text) {\n            extractedTexts.push({\n              task_id: task.entity_id,\n              task_name: task.entity_name || '',\n              filename: att.filename,\n              text: textResp.text,\n              chars: textResp.chars || textResp.text.length\n            });\n          }\n        } catch (textErr) {\n          // \uac1c\ubcc4 \ud30c\uc77c \ucd94\ucd9c \uc2e4\ud328 \uc2dc \uac74\ub108\ub6f0\uae30\n          console.log(`Failed to extract ${att.filename}: ${textErr.message}`);\n        }\n      }\n    } catch (attachErr) {\n      // Task \ucca8\ubd80\ud30c\uc77c \uc870\ud68c \uc2e4\ud328 \uc2dc \uac74\ub108\ub6f0\uae30\n      console.log(`Failed to get attachments for ${task.entity_id}: ${attachErr.message}`);\n    }\n  }\n} catch (tasksErr) {\n  // Project tasks \uc870\ud68c \uc2e4\ud328 \uc2dc \ud14d\uc2a4\ud2b8 \uc5c6\uc774 \uc9c4\ud589\n  console.log(`Failed to get tasks for ${projectId}: ${tasksErr.message}`);\n}\n\n// 5. Build retrospective_content\nlet retrospectiveContent = null;\nif (extractedTexts.length > 0) {\n  retrospectiveContent = extractedTexts.map(t =>\n    `## ${t.task_name} (${t.task_id}) / ${t.filename}\\n\\n${t.text}`\n  ).join('\\n\\n---\\n\\n');\n  \n  // Truncate if too long (100KB limit)\n  if (retrospectiveContent.length > 100000) {\n    retrospectiveContent = retrospectiveContent.slice(0, 100000) + '\\n\\n[... truncated ...]';\n  }\n}\n\n// 6. Update api_request\nconst apiRequest = item.api_request || {};\napiRequest.retrospective_content = retrospectiveContent;\napiRequest.actual_result = extractedTexts.length > 0\n  ? `${extractedTexts.length}\uac1c \ucca8\ubd80\ud30c\uc77c\uc5d0\uc11c \ud14d\uc2a4\ud2b8 \ucd94\ucd9c \uc644\ub8cc (\ucd1d ${extractedTexts.reduce((sum, t) => sum + t.chars, 0).toLocaleString()}\uc790)`\n  : null;\n\nreturn [{\n  json: {\n    ...item,\n    api_request: apiRequest,\n    attachment_stats: {\n      total_extracted: extractedTexts.length,\n      total_chars: extractedTexts.reduce((sum, t) => sum + t.chars, 0),\n      files: extractedTexts.map(t => ({ task_id: t.task_id, filename: t.filename, chars: t.chars }))\n    }\n  }\n}];"
            },
            "id": "7951e863-a574-4887-999f-7612784b63d1",
            "name": "Extract Attachment Texts",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -1728,
                5936
            ],
            "notes": "v6: tsk-dashboard-ux-v1-21 - Realized Impact \uacbd\ub85c\uc5d0\uc11c \ucca8\ubd80\ud30c\uc77c \ud14d\uc2a4\ud2b8 \ucd94\ucd9c. \ucd94\ucd9c\ub41c \ud14d\uc2a4\ud2b8\ub97c retrospective_content\ub85c Evidence API\uc5d0 \uc804\ub2ec."
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://mcp.sosilab.synology.me/api/ai/infer/evidence",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.LOOP_API_TOKEN }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ $json.api_request }}",
                "options": {
                    "response": {
                        "response": {}
                    }
                }
            },
            "id": "0b1e06ac-d565-43f5-92dd-2f19c3793969",
            "name": "Call AI Router (Evidence)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -1520,
                5936
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "I4hdpx6QgaqnNS7P",
                    "name": "LOOP API Token"
                }
            },
            "notes": "v6: /api/ai/infer/evidence - Realized Impact (B Score). \ucca8\ubd80\ud30c\uc77c \ud14d\uc2a4\ud2b8\uac00 retrospective_content\ub85c \ud3ec\ud568\ub428."
        },
        {
            "parameters": {
                "jsCode": "// Parse suggest-batch response (v6 - suggest-batch API \uc0ac\uc6a9)\n// suggest-batch \uc751\ub2f5: { run_id, mode, suggestions: [{ project_id, status, apply_patch, ... }], summary }\n// pending\uc774 \uc774\ubbf8 \uc0dd\uc131\ub418\uc5c8\uc73c\ubbc0\ub85c \ubcc4\ub3c4 Create Pending \ub178\ub4dc \ubd88\ud544\uc694\n\nconst input = $input.first().json;\n\n// v5: includeInputData\ub294 fallback\uc73c\ub85c\ub9cc \uc0ac\uc6a9 (API \uc751\ub2f5 \uc6b0\uc120)\nconst inputData = input.$input?.item?.json || input.$input?.items?.[0]?.json || {};\n\n// Meta \uc815\ubcf4 \ucd94\ucd9c\nconst entity_id = inputData.meta_entity_id || inputData.entity_id || null;\nconst entity_name = inputData.meta_entity_name || inputData.entity_name || 'unknown';\nconst phase = inputData.meta_phase || inputData.phase || 'expected_impact';\nconst meta_run_id = inputData.meta_run_id || inputData.api_request?.run_id || null;\n\n// run_id: API \uc751\ub2f5\uc5d0\uc11c \uc6b0\uc120 \uac00\uc838\uc624\uace0, \uc5c6\uc73c\uba74 meta\uc5d0\uc11c\nconst final_run_id = input.run_id || meta_run_id || 'unknown';\n\n// \uc5d0\ub7ec \ucc98\ub9ac: entity_id\uac00 \uc5c6\ub294 \uacbd\uc6b0\nif (!entity_id) {\n  return [{\n    json: {\n      entity_id: 'unknown',\n      entity_type: 'Project',\n      entity_name: entity_name,\n      phase: phase,\n      success: false,\n      error: input.error || 'Failed to extract entity metadata from response',\n      run_id: final_run_id\n    }\n  }];\n}\n\n// suggest-batch \uc751\ub2f5 \ud30c\uc2f1\nconst suggestions = input.suggestions || [];\nconst suggestion = suggestions.find(s => s.project_id === entity_id) || suggestions[0];\n\nif (!suggestion || suggestion.status !== 'success') {\n  return [{\n    json: {\n      entity_id,\n      entity_type: 'Project',\n      entity_name,\n      phase,\n      success: false,\n      error: suggestion?.error?.message || 'No successful suggestion found',\n      run_id: final_run_id\n    }\n  }];\n}\n\n// suggest-batch\uac00 \uc774\ubbf8 pending\uc744 \uc0dd\uc131\ud588\uc73c\ubbc0\ub85c \uc131\uacf5 \uc751\ub2f5 \ubc18\ud658\nreturn [{\n  json: {\n    entity_id,\n    entity_type: 'Project',\n    entity_name,\n    phase,\n    success: true,\n    run_id: final_run_id,\n    patch: suggestion.apply_patch,\n    scores: suggestion.calculated_fields,\n    reasoning: suggestion.reasoning,\n    pending: true  // mode=\"pending\"\uc73c\ub85c \ud638\ucd9c\ud588\uc73c\ubbc0\ub85c pending \uc0dd\uc131\ub428\n  }\n}];"
            },
            "id": "3b8fd4d3-7012-4447-84cc-8991daf8c6c0",
            "name": "Parse Impact Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -1328,
                5824
            ],
            "notes": "v5: API \uc751\ub2f5\uc5d0 entity_id, entity_name \uc9c1\uc811 \ud3ec\ud568"
        },
        {
            "parameters": {
                "jsCode": "// v8.1 (tsk-n8n-22): Evidence Quality Gate\n// \ud14d\uc2a4\ud2b8 \ud488\uc9c8\uc744 \ud310\uc815\ud558\uc5ec strong/medium/weak\uc73c\ub85c \ubd84\ub958\n// weak\uc778 \uacbd\uc6b0 Retro Synth \uacbd\ub85c\ub85c \ub77c\uc6b0\ud305\n// v8.1: \ucca8\ubd80\ud30c\uc77c\uc774 \uc5c6\uc73c\uba74 Retro Synth \uc2a4\ud0b5 (\uae30\ubcf8 Evidence \uacbd\ub85c\ub85c)\n\nconst item = $input.first().json;\nconst text = item.api_request?.retrospective_content || '';\n\n// \ucca8\ubd80\ud30c\uc77c \uc874\uc7ac \uc5ec\ubd80 \ud655\uc778\nconst hasAttachments = item.attachment_stats?.total_extracted > 0;\n\n// \ud488\uc9c8 \ud3c9\uac00 \uc9c0\ud45c\nconst totalChars = text.length;\nconst numericMentions = (text.match(/\\d+[.%]|\\$\\d+|\u20a9\\d+|\\d{1,3}(,\\d{3})+/g) || []).length;\nconst kpiHits = (text.match(/\ub9e4\ucd9c|\uc804\ud658\uc728|DAU|MAU|\ub9ac\ud150\uc158|NPS|ARPU|MRR|ARR|GMV|CVR|CTR|retention|revenue|growth/gi) || []).length;\nconst hasGoalActual = /\ubaa9\ud45c.*?\uc2e4\uc81c|\ub2ec\uc131.*?\ub300\ube44|expected.*?actual|target.*?result/i.test(text);\nconst hasTimeframe = /\\d{4}[-\\/]\\d{2}|\\d+\uc6d4|Q[1-4]|[12]\ubd84\uae30|[\uc0c1\ud558]\ubc18\uae30/.test(text);\n\n// \ud488\uc9c8 \ud310\uc815\nlet verdict = 'weak';\nif (totalChars >= 8000 && numericMentions >= 8 && kpiHits >= 3 && hasTimeframe) {\n  verdict = 'strong';\n} else if (totalChars >= 3000 && numericMentions >= 3 && kpiHits >= 1) {\n  verdict = 'medium';\n}\n\n// Retro Synth \ud544\uc694 \uc5ec\ubd80\n// \ucca8\ubd80\ud30c\uc77c\uc774 \uc788\ub294 \uacbd\uc6b0\uc5d0\ub9cc Retro Synth \uc2e4\ud589 (\ucca8\ubd80\ud30c\uc77c \uc5c6\uc73c\uba74 \uae30\ubcf8 Evidence \uacbd\ub85c)\nconst needsRetroSynth = hasAttachments && verdict === 'weak' && (totalChars < 1500 || numericMentions < 2);\n\nreturn [{\n  json: {\n    ...item,\n    quality_gate: {\n      verdict,\n      needs_retro_synth: needsRetroSynth,\n      has_attachments: hasAttachments,\n      metrics: {\n        total_chars: totalChars,\n        numeric_mentions: numericMentions,\n        kpi_hits: kpiHits,\n        has_goal_actual: hasGoalActual,\n        has_timeframe: hasTimeframe\n      }\n    }\n  }\n}];"
            },
            "id": "10e56ded-25e2-4fdd-a93e-0fe8f0aabc1b",
            "name": "Evidence Quality Gate",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -1568,
                5936
            ],
            "notes": "v8.1 (tsk-n8n-22): \ud14d\uc2a4\ud2b8 \ud488\uc9c8 \ud310\uc815. \ucca8\ubd80\ud30c\uc77c \uc5c6\uc73c\uba74 \uae30\ubcf8 Evidence API, \ucca8\ubd80\ud30c\uc77c \uc788\uace0 weak\uc774\uba74 Retro Synth \uacbd\ub85c."
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "combinator": "and"
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.quality_gate?.needs_retro_synth }}",
                                        "rightValue": true,
                                        "operator": {
                                            "type": "boolean",
                                            "operation": "equals"
                                        }
                                    }
                                ]
                            },
                            "renameOutput": true,
                            "outputKey": "Weak"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "combinator": "and"
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.quality_gate?.needs_retro_synth }}",
                                        "rightValue": false,
                                        "operator": {
                                            "type": "boolean",
                                            "operation": "equals"
                                        }
                                    }
                                ]
                            },
                            "renameOutput": true,
                            "outputKey": "Strong"
                        }
                    ]
                },
                "options": {
                    "fallbackOutput": "extra"
                }
            },
            "id": "a6dfb04c-049b-4c22-92c6-9c2f7a007088",
            "name": "Route by Quality",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3,
            "position": [
                -1424,
                5936
            ],
            "notes": "v8 (tsk-n8n-22): Switch \ub178\ub4dc\ub85c \ud488\uc9c8\uc5d0 \ub530\ub77c \ub77c\uc6b0\ud305. weak -> Retro Synth, strong/medium -> \uc9c1\uc811 Evidence API"
        },
        {
            "parameters": {
                "url": "=https://mcp.sosilab.synology.me/api/projects/{{ $json.entity_id }}/tasks?limit=1",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.LOOP_API_TOKEN }}"
                        }
                    ]
                },
                "options": {
                    "response": {
                        "response": {}
                    }
                }
            },
            "id": "db20ed4f-301e-4fa2-825b-c8ea382e2bc3",
            "name": "Get First Task",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -1280,
                6032
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "I4hdpx6QgaqnNS7P",
                    "name": "LOOP API Token"
                }
            },
            "notes": "v8 (tsk-n8n-22): \ud504\ub85c\uc81d\ud2b8\uc758 \uccab \ubc88\uc9f8 Task \uc870\ud68c (Audit Log \uc800\uc7a5\uc6a9)"
        },
        {
            "parameters": {
                "jsCode": "// v8 (tsk-n8n-22): Retro Synth - LLM\uc73c\ub85c \ud68c\uace0 \ud569\uc131\n// \ucd9c\ucc98 \uae30\ubc18 \uc0ac\uc2e4\ub9cc \ucd94\ucd9c, \ud658\uac01 \ubc29\uc9c0\n\nconst OpenAI = require('openai');\n\nconst item = $input.first().json;\nconst inputItem = item.$input?.item?.json || item;\nconst text = inputItem.api_request?.retrospective_content || '';\nconst projectId = inputItem.entity_id;\nconst projectName = inputItem.entity_name || '';\n\n// \uccab \ubc88\uc9f8 Task \uc815\ubcf4 (audit log \uc800\uc7a5\uc6a9)\nconst tasksResp = item.tasks || [];\nconst firstTask = tasksResp[0] || null;\nconst firstTaskId = firstTask?.entity_id || null;\n\nif (!text || text.length < 100) {\n  // \ud14d\uc2a4\ud2b8\uac00 \ub108\ubb34 \uc9e7\uc73c\uba74 \uc2a4\ud0b5\n  return [{\n    json: {\n      ...inputItem,\n      retro_synth: {\n        skipped: true,\n        reason: 'insufficient_text',\n        first_task_id: firstTaskId\n      }\n    }\n  }];\n}\n\nconst client = new OpenAI({\n  apiKey: $env.OPENAI_API_KEY\n});\n\nconst systemPrompt = `You are a retrospective synthesis expert. Your job is to extract ONLY facts explicitly stated in the provided documents.\n\nCRITICAL RULES - VIOLATION MEANS FAILURE:\n1. NO SPECULATION - If something is not explicitly stated, mark it as \"unknown\"\n2. SOURCE CITATION REQUIRED - Every fact needs:\n   - source_quote: exact text from document\n   - source_id: filename or section identifier\n3. ZERO is better than GUESSING - never invent numbers or outcomes\n4. If no quantitative data exists, return empty facts array\n\nOutput JSON format (no markdown, no code blocks):\n{\n  \"facts\": [\n    {\n      \"statement\": \"string\",\n      \"source_quote\": \"exact quote from document\",\n      \"source_id\": \"filename or section\",\n      \"confidence\": \"high|medium|low\"\n    }\n  ],\n  \"unknowns\": [\n    {\n      \"question\": \"What we don't know\",\n      \"reason\": \"Why it's unknown\"\n    }\n  ],\n  \"metrics_found\": {\n    \"quantitative\": [],\n    \"qualitative\": []\n  }\n}`;\n\nconst userPrompt = `Extract facts from this project retrospective:\n\nProject: ${projectName} (${projectId})\n\n---DOCUMENT START---\n${text.slice(0, 30000)}\n---DOCUMENT END---\n\nRemember:\n- Only include facts with explicit source citations\n- Any number/metric must have source_quote\n- If unsure, add to unknowns instead`;\n\ntry {\n  const response = await client.chat.completions.create({\n    model: 'gpt-4o-mini',\n    temperature: 0.3,\n    max_tokens: 4000,\n    messages: [\n      { role: 'system', content: systemPrompt },\n      { role: 'user', content: userPrompt }\n    ]\n  });\n\n  const content = response.choices[0].message.content;\n  let parsed;\n  \n  try {\n    // JSON \ud30c\uc2f1 \uc2dc\ub3c4\n    const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n    parsed = JSON.parse(jsonMatch ? jsonMatch[0] : content);\n  } catch (parseErr) {\n    parsed = {\n      facts: [],\n      unknowns: [{ question: 'Parsing failed', reason: parseErr.message }],\n      metrics_found: { quantitative: [], qualitative: [] },\n      raw_response: content\n    };\n  }\n\n  // \ud6c4\ucc98\ub9ac: \ucd9c\ucc98 \uc5c6\ub294 facts \ud544\ud130\ub9c1 (\ud658\uac01 \ubc29\uc9c0)\n  const validFacts = (parsed.facts || []).filter(f => \n    f.source_quote && f.source_quote.length > 10 &&\n    f.source_id && f.source_id.length > 0\n  );\n\n  const filteredCount = (parsed.facts || []).length - validFacts.length;\n\n  return [{\n    json: {\n      ...inputItem,\n      retro_synth: {\n        skipped: false,\n        facts: validFacts,\n        unknowns: parsed.unknowns || [],\n        metrics_found: parsed.metrics_found || { quantitative: [], qualitative: [] },\n        hallucination_prevention: {\n          original_facts_count: (parsed.facts || []).length,\n          filtered_count: filteredCount,\n          valid_facts_count: validFacts.length\n        },\n        first_task_id: firstTaskId,\n        model: 'gpt-4o-mini',\n        timestamp: new Date().toISOString()\n      }\n    }\n  }];\n\n} catch (err) {\n  return [{\n    json: {\n      ...inputItem,\n      retro_synth: {\n        skipped: true,\n        reason: 'llm_error',\n        error: err.message,\n        first_task_id: firstTaskId\n      }\n    }\n  }];\n}"
            },
            "id": "70632be2-014a-425a-a985-7bcc03506e6f",
            "name": "Retro Synth",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -1120,
                6032
            ],
            "notes": "v8 (tsk-n8n-22): LLM\uc73c\ub85c \ucd9c\ucc98 \uae30\ubc18 \uc0ac\uc2e4 \ucd94\ucd9c. \ud658\uac01 \ubc29\uc9c0\ub97c \uc704\ud574 source_quote \uc5c6\ub294 facts \uc790\ub3d9 \ud544\ud130\ub9c1."
        },
        {
            "parameters": {
                "jsCode": "// v8 (tsk-n8n-22): Save Retro Synth Audit Logs\n// \ud569\uc131 \uacb0\uacfc\ub97c Task \ucca8\ubd80\ud30c\uc77c\ub85c \uc800\uc7a5\n\nconst item = $input.first().json;\nconst retroSynth = item.retro_synth || {};\nconst firstTaskId = retroSynth.first_task_id;\nconst projectId = item.entity_id;\n\n// \uc2a4\ud0b5\ub41c \uacbd\uc6b0 \ubc14\ub85c \ud1b5\uacfc\nif (retroSynth.skipped || !firstTaskId) {\n  return [{ json: item }];\n}\n\nconst timestamp = new Date().toISOString().replace(/[:.]/g, '-');\nconst API_URL = 'https://mcp.sosilab.synology.me';\nconst TOKEN = $env.LOOP_API_TOKEN;\n\n// Audit Log \ub9c8\ud06c\ub2e4\uc6b4 \uc0dd\uc131\nconst auditLogContent = `# Retro Synth Audit Log\n\n> Project: ${projectId}\n> Task: ${firstTaskId}\n> Generated: ${new Date().toISOString()}\n> Model: ${retroSynth.model || 'gpt-4o-mini'}\n\n## Hallucination Prevention\n\n| Metric | Value |\n|--------|-------|\n| Original Facts | ${retroSynth.hallucination_prevention?.original_facts_count || 0} |\n| Filtered (no source) | ${retroSynth.hallucination_prevention?.filtered_count || 0} |\n| Valid Facts | ${retroSynth.hallucination_prevention?.valid_facts_count || 0} |\n\n## Valid Facts (with source citations)\n\n${(retroSynth.facts || []).map((f, i) => `### Fact ${i + 1}\n- **Statement**: ${f.statement}\n- **Source Quote**: \"${f.source_quote}\"\n- **Source ID**: ${f.source_id}\n- **Confidence**: ${f.confidence}`).join('\\n\\n') || 'No valid facts extracted.'}\n\n## Unknowns\n\n${(retroSynth.unknowns || []).map(u => `- **${u.question}**: ${u.reason}`).join('\\n') || 'None'}\n\n## Metrics Found\n\n### Quantitative\n${(retroSynth.metrics_found?.quantitative || []).join(', ') || 'None'}\n\n### Qualitative\n${(retroSynth.metrics_found?.qualitative || []).join(', ') || 'None'}\n`;\n\n// B Score Trace \ub9c8\ud06c\ub2e4\uc6b4 \uc0dd\uc131\nconst bscoreTraceContent = `# B Score Trace\n\n> Project: ${projectId}\n> Source: Retro Synth (auto-generated)\n> Generated: ${new Date().toISOString()}\n\n## Evidence Quality\n\n- **Source**: AUTO-SYNTH\n- **Provenance**: ${retroSynth.hallucination_prevention?.valid_facts_count > 0 ? 'mixed' : 'auto'}\n- **Measurement Quality**: ${retroSynth.hallucination_prevention?.valid_facts_count >= 3 ? 'medium' : 'low'}\n\n## Source Facts\n\n${(retroSynth.facts || []).map((f, i) => `${i + 1}. ${f.statement} (${f.confidence})`).join('\\n') || 'No facts available.'}\n\n## Trace Path\n\n1. Extract Attachment Texts\n2. Evidence Quality Gate: weak\n3. Retro Synth: ${retroSynth.hallucination_prevention?.valid_facts_count || 0} valid facts\n4. Save Retro Logs (this file)\n5. Call AI Router (Evidence)\n`;\n\nlet auditLogPath = null;\n\ntry {\n  // Audit Log \uc800\uc7a5\n  const auditFilename = `retro_synth_${projectId}_${timestamp}.md`;\n  const auditFormData = new FormData();\n  auditFormData.append('file', new Blob([auditLogContent], { type: 'text/markdown' }), auditFilename);\n\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: `${API_URL}/api/tasks/${firstTaskId}/attachments`,\n    headers: {\n      'Authorization': `Bearer ${TOKEN}`\n    },\n    body: auditFormData\n  });\n\n  auditLogPath = `_attachments/${firstTaskId}/${auditFilename}`;\n\n  // B Score Trace \uc800\uc7a5\n  const traceFilename = `bscore_trace_${projectId}_${timestamp}.md`;\n  const traceFormData = new FormData();\n  traceFormData.append('file', new Blob([bscoreTraceContent], { type: 'text/markdown' }), traceFilename);\n\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: `${API_URL}/api/tasks/${firstTaskId}/attachments`,\n    headers: {\n      'Authorization': `Bearer ${TOKEN}`\n    },\n    body: traceFormData\n  });\n\n} catch (err) {\n  console.log(`Failed to save audit logs: ${err.message}`);\n}\n\n// api_request\uc5d0 audit_log_path \ucd94\uac00\nconst apiRequest = item.api_request || {};\napiRequest.synth_audit_log_path = auditLogPath;\napiRequest.source_workflow = 'retro-synth';\n\n// retro_synth \uacb0\uacfc\ub97c retrospective_content\uc5d0 \ucd94\uac00 (\ubcf4\uac15)\nif (retroSynth.facts && retroSynth.facts.length > 0) {\n  const synthContent = retroSynth.facts.map(f => \n    `[AUTO-SYNTH] ${f.statement} (Source: ${f.source_id})`\n  ).join('\\n');\n  \n  apiRequest.retrospective_content = (apiRequest.retrospective_content || '') + \n    '\\n\\n---\\n\\n## Auto-Synthesized Facts\\n\\n' + synthContent;\n}\n\nreturn [{\n  json: {\n    ...item,\n    api_request: apiRequest,\n    audit_log_path: auditLogPath\n  }\n}];"
            },
            "id": "cc86f355-598d-451e-9fdc-c2b213faa3c4",
            "name": "Save Retro Logs",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -976,
                6032
            ],
            "notes": "v8 (tsk-n8n-22): Audit Log\uc640 B Score Trace\ub97c Task \ucca8\ubd80\ud30c\uc77c\ub85c \uc800\uc7a5. synth_audit_log_path\ub97c api_request\uc5d0 \ucd94\uac00."
        },
        {
            "parameters": {
                "mode": "combine",
                "combineBy": "combineAll",
                "options": {}
            },
            "id": "e342befb-6f68-4f87-b403-68522dda1afc",
            "name": "Merge Quality Routes",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3,
            "position": [
                -832,
                5936
            ],
            "notes": "v8 (tsk-n8n-22): Quality Gate\uc758 \ub450 \uacbd\ub85c (strong/weak) \ubcd1\ud569"
        }
    ],
    "connections": {
        "Manual Trigger (Test)": {
            "main": [
                [
                    {
                        "node": "Set Test Project",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Test Project": {
            "main": [
                [
                    {
                        "node": "Get Single Project",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Single Project": {
            "main": [
                [
                    {
                        "node": "Build Test Item",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Test Item": {
            "main": [
                [
                    {
                        "node": "Route by Phase",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "Get Strategy Context",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Strategy Context": {
            "main": [
                [
                    {
                        "node": "Build Strategy Context",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Strategy Context": {
            "main": [
                [
                    {
                        "node": "Get Tasks",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Get Projects",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Tasks": {
            "main": [
                [
                    {
                        "node": "Validate Tasks",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate Tasks": {
            "main": [
                [
                    {
                        "node": "Tasks Need LLM?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Tasks Need LLM?": {
            "main": [
                [
                    {
                        "node": "Call AI Router (Task Schema)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Call AI Router (Task Schema)": {
            "main": [
                [
                    {
                        "node": "Parse Tasks Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Projects": {
            "main": [
                [
                    {
                        "node": "Validate Projects",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Filter Impact Needed",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate Projects": {
            "main": [
                [
                    {
                        "node": "Projects Need LLM?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Projects Need LLM?": {
            "main": [
                [
                    {
                        "node": "Call AI Router (Project Schema)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Call AI Router (Project Schema)": {
            "main": [
                [
                    {
                        "node": "Parse Projects Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter Impact Needed": {
            "main": [
                [
                    {
                        "node": "Impact Need LLM?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Impact Need LLM?": {
            "main": [
                [
                    {
                        "node": "Route by Phase",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Route by Phase": {
            "main": [
                [
                    {
                        "node": "Call AI Router (Expected)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Extract Attachment Texts",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Attachment Texts": {
            "main": [
                [
                    {
                        "node": "Evidence Quality Gate",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Evidence Quality Gate": {
            "main": [
                [
                    {
                        "node": "Route by Quality",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Route by Quality": {
            "main": [
                [
                    {
                        "node": "Get First Task",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Merge Quality Routes",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get First Task": {
            "main": [
                [
                    {
                        "node": "Retro Synth",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Retro Synth": {
            "main": [
                [
                    {
                        "node": "Save Retro Logs",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save Retro Logs": {
            "main": [
                [
                    {
                        "node": "Merge Quality Routes",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Merge Quality Routes": {
            "main": [
                [
                    {
                        "node": "Call AI Router (Evidence)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Call AI Router (Expected)": {
            "main": [
                [
                    {
                        "node": "Parse Impact Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Call AI Router (Evidence)": {
            "main": [
                [
                    {
                        "node": "Parse Impact Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "availableInMCP": false,
        "callerPolicy": "workflowsFromSameOwner"
    },
    "staticData": {
        "node:Schedule Trigger": {
            "recurrenceRules": [
                12
            ]
        }
    },
    "meta": null,
    "pinData": {},
    "versionId": "d0ed6fb3-aef1-42b9-8f54-657c5d4ea112",
    "activeVersionId": "d0ed6fb3-aef1-42b9-8f54-657c5d4ea112",
    "versionCounter": 95,
    "triggerCount": 1,
    "shared": [
        {
            "updatedAt": "2025-12-30T10:45:18.858Z",
            "createdAt": "2025-12-30T10:45:18.858Z",
            "role": "workflow:owner",
            "workflowId": "H5UsoJ7wtVltkCPf",
            "projectId": "Xa46RFVF9z0PG3yx",
            "project": {
                "updatedAt": "2025-12-26T20:06:31.518Z",
                "createdAt": "2025-12-26T19:59:27.960Z",
                "id": "Xa46RFVF9z0PG3yx",
                "name": "Eunhyang Kim <eunhyang@sosilab.com>",
                "type": "personal",
                "icon": null,
                "description": null,
                "creatorId": "8ecb4e03-b6d5-4405-926a-392a020cc9e9",
                "projectRelations": [
                    {
                        "updatedAt": "2025-12-26T19:59:27.961Z",
                        "createdAt": "2025-12-26T19:59:27.961Z",
                        "userId": "8ecb4e03-b6d5-4405-926a-392a020cc9e9",
                        "projectId": "Xa46RFVF9z0PG3yx",
                        "user": {
                            "updatedAt": "2026-01-16T04:26:50.000Z",
                            "createdAt": "2025-12-26T19:59:16.673Z",
                            "id": "8ecb4e03-b6d5-4405-926a-392a020cc9e9",
                            "email": "eunhyang@sosilab.com",
                            "firstName": "Eunhyang",
                            "lastName": "Kim",
                            "personalizationAnswers": {
                                "version": "v4",
                                "personalization_survey_submitted_at": "2025-12-26T20:06:38.659Z",
                                "personalization_survey_n8n_version": "2.1.4"
                            },
                            "settings": {
                                "userActivated": true,
                                "easyAIWorkflowOnboarded": true,
                                "firstSuccessfulWorkflowId": "H5UsoJ7wtVltkCPf",
                                "userActivatedAt": 1767106815382,
                                "npsSurvey": {
                                    "waitingForResponse": true,
                                    "ignoredCount": 2,
                                    "lastShownAt": 1768063332007
                                }
                            },
                            "disabled": false,
                            "mfaEnabled": false,
                            "lastActiveAt": "2026-01-16",
                            "isPending": false
                        }
                    }
                ]
            }
        }
    ],
    "tags": [
        {
            "updatedAt": "2026-01-01T08:42:24.468Z",
            "createdAt": "2026-01-01T08:42:24.468Z",
            "id": "0iKAvcXI2ZPEYQ9S",
            "name": "tsk-n8n-12"
        },
        {
            "updatedAt": "2026-01-02T17:44:35.637Z",
            "createdAt": "2026-01-02T17:44:35.637Z",
            "id": "a8VDHWe644TD67a5",
            "name": "youtube"
        },
        {
            "updatedAt": "2026-01-02T17:44:35.731Z",
            "createdAt": "2026-01-02T17:44:35.731Z",
            "id": "tLlvNLQAl0JY48uk",
            "name": "automation"
        },
        {
            "updatedAt": "2026-01-01T08:42:24.331Z",
            "createdAt": "2026-01-01T08:42:24.331Z",
            "id": "wsX3j1DWpEEe4fs6",
            "name": "Workflow C"
        },
        {
            "updatedAt": "2026-01-01T08:42:24.830Z",
            "createdAt": "2026-01-01T08:42:24.830Z",
            "id": "x16N9oqFVnuMdmIw",
            "name": "Impact Rebuild"
        }
    ],
    "activeVersion": {
        "updatedAt": "2026-01-16T07:22:00.576Z",
        "createdAt": "2026-01-16T07:22:00.576Z",
        "versionId": "d0ed6fb3-aef1-42b9-8f54-657c5d4ea112",
        "workflowId": "H5UsoJ7wtVltkCPf",
        "nodes": [
            {
                "parameters": {},
                "id": "c90999c6-f49a-469f-a56e-3b426a461b56",
                "name": "Manual Trigger (Test)",
                "type": "n8n-nodes-base.manualTrigger",
                "typeVersion": 1,
                "position": [
                    -3024,
                    5024
                ],
                "notes": "v7: \uc218\ub3d9 \ud14c\uc2a4\ud2b8\uc6a9 \ud2b8\ub9ac\uac70. \ud2b9\uc815 \ud504\ub85c\uc81d\ud2b8\ub9cc \ud14c\uc2a4\ud2b8\ud560 \ub54c \uc0ac\uc6a9."
            },
            {
                "parameters": {
                    "assignments": {
                        "assignments": [
                            {
                                "id": "test_project_id",
                                "name": "test_project_id",
                                "value": "prj-002",
                                "type": "string"
                            },
                            {
                                "id": "test_phase",
                                "name": "test_phase",
                                "value": "expected_impact",
                                "type": "string"
                            }
                        ]
                    },
                    "options": {}
                },
                "id": "cf144318-1594-4001-b0b2-9d9052784acf",
                "name": "Set Test Project",
                "type": "n8n-nodes-base.set",
                "typeVersion": 3.4,
                "position": [
                    -2832,
                    5024
                ],
                "notes": "v7: \ud14c\uc2a4\ud2b8\ud560 project_id\uc640 phase \uc124\uc815. \uac12\uc744 \uc218\uc815 \ud6c4 Manual Trigger \uc2e4\ud589."
            },
            {
                "parameters": {
                    "url": "=https://mcp.sosilab.synology.me/api/projects/{{ $json.test_project_id }}",
                    "authentication": "genericCredentialType",
                    "genericAuthType": "httpHeaderAuth",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "Authorization",
                                "value": "Bearer {{ $env.LOOP_API_TOKEN }}"
                            }
                        ]
                    },
                    "options": {}
                },
                "id": "afb4e037-c481-4978-a5d7-665b87d05c28",
                "name": "Get Single Project",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    -2624,
                    5024
                ],
                "credentials": {
                    "httpHeaderAuth": {
                        "id": "I4hdpx6QgaqnNS7P",
                        "name": "LOOP API Token"
                    }
                },
                "notes": "v7: \ub2e8\uc77c \ud504\ub85c\uc81d\ud2b8 \uc870\ud68c (\ud14c\uc2a4\ud2b8\uc6a9)"
            },
            {
                "parameters": {
                    "jsCode": "// v8: Build test item for single project (suggest-batch API \uc0ac\uc6a9)\n// Manual Trigger \uacbd\ub85c\uc5d0\uc11c \ub2e8\uc77c \ud504\ub85c\uc81d\ud2b8\ub97c Filter Impact Needed \ud615\uc2dd\uc73c\ub85c \ubcc0\ud658\n\nconst input = $input.first().json;\nconst testPhase = $('Set Test Project').first().json.test_phase || 'expected_impact';\n\n// API \uc751\ub2f5\uc5d0\uc11c project \ucd94\ucd9c\nconst project = input.project || input;\n\nif (!project.entity_id) {\n  throw new Error('Project not found or invalid response');\n}\n\n// run_id \uc0dd\uc131\nfunction generateRunId() {\n  const iso = new Date().toISOString();\n  const datePart = iso.slice(0, 10).replace(/-/g, '');\n  const timePart = iso.slice(11, 19).replace(/:/g, '');\n  const rand = Math.random().toString(36).slice(2, 8);\n  return `run-${datePart}-${timePart}-${rand}-test`;\n}\n\nconst run_id = generateRunId();\n\n// Filter Impact Needed \ucd9c\ub825 \ud615\uc2dd\uc73c\ub85c \ubcc0\ud658\nconst result = {\n  meta_entity_id: project.entity_id,\n  meta_entity_name: project.entity_name,\n  meta_phase: testPhase,\n  meta_run_id: run_id,\n  entity_id: project.entity_id,\n  entity_name: project.entity_name,\n  entity_type: 'Project',\n  phase: testPhase,\n  needs_llm: true,\n  // v6: suggest-batch API\uc6a9 \uc694\uccad \ub370\uc774\ud130\n  api_request: testPhase === 'expected_impact' ? {\n    run_id: run_id,\n    items: [{ project_id: project.entity_id }],\n    mode: 'pending',\n    provider: 'openai',\n    actor: 'n8n-test',\n    source_workflow: 'entity-validator'\n  } : {\n    // realized_impact\ub294 \uae30\uc874 Evidence API \uc0ac\uc6a9\n    project_id: project.entity_id,\n    run_id: run_id,\n    mode: 'pending',\n    provider: 'openai',\n    actor: 'n8n-test',\n    create_pending: true,\n    schema_version: '5.3',\n    source_workflow: 'entity-validator',\n    retrospective_content: null,\n    actual_result: null\n  },\n  original_entity: project,\n  is_test: true\n};\n\nreturn [{ json: result }];"
                },
                "id": "d6b209eb-35cf-4231-9529-97a22ea21011",
                "name": "Build Test Item",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    -2432,
                    5024
                ],
                "notes": "v7: \ub2e8\uc77c \ud504\ub85c\uc81d\ud2b8\ub97c Impact \ud14c\uc2a4\ud2b8 \ud615\uc2dd\uc73c\ub85c \ubcc0\ud658"
            },
            {
                "parameters": {
                    "rule": {
                        "interval": [
                            {
                                "field": "hours",
                                "hoursInterval": 6
                            }
                        ]
                    }
                },
                "id": "d4d2b2b1-95a0-4316-a6d7-c89f14d070d7",
                "name": "Schedule Trigger",
                "type": "n8n-nodes-base.scheduleTrigger",
                "typeVersion": 1.1,
                "position": [
                    -3024,
                    5328
                ]
            },
            {
                "parameters": {
                    "url": "https://mcp.sosilab.synology.me/api/strategy/context",
                    "authentication": "genericCredentialType",
                    "genericAuthType": "httpHeaderAuth",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "Authorization",
                                "value": "Bearer {{ $env.LOOP_API_TOKEN }}"
                            }
                        ]
                    },
                    "options": {}
                },
                "id": "fc8b4c3f-2827-4f5e-870f-6aa0b4c4639d",
                "name": "Get Strategy Context",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    -2832,
                    5328
                ],
                "credentials": {
                    "httpHeaderAuth": {
                        "id": "I4hdpx6QgaqnNS7P",
                        "name": "LOOP API Token"
                    }
                },
                "notes": "\ud55c \ubc88\uc758 API \ud638\ucd9c\ub85c \uc804\uccb4 \uc804\ub7b5 \uacc4\uce35 (NorthStar, MH, Conditions, Tracks, Hypotheses) \uc870\ud68c"
            },
            {
                "parameters": {
                    "jsCode": "// Build Strategy Context Text for LLM prompts\n// \uc804\ub7b5 \uacc4\uce35\uc744 LLM\uc774 \uc774\ud574\ud560 \uc218 \uc788\ub294 \ud14d\uc2a4\ud2b8\ub85c \ubcc0\ud658\n\nconst input = $input.first().json;\n\nconst northstars = input.northstars || [];\nconst metahypotheses = input.metahypotheses || [];\nconst conditions = input.conditions || [];\nconst tracks = input.tracks || [];\nconst hypotheses = input.hypotheses || [];\n\n// Format as human-readable for LLM prompt\nconst strategyContextText = `\n## \uc804\ub7b5 \uacc4\uce35 (Strategy Hierarchy)\n\n### 10-year Vision (North Star)\n${northstars.map(ns => `- ${ns.entity_id}: ${ns.entity_name}`).join('\\n')}\n\n### Meta Hypotheses (MH1-4)\n${metahypotheses.map(mh => `- ${mh.entity_id}: ${mh.entity_name}\\n  - if_broken: ${mh.if_broken || 'N/A'}`).join('\\n')}\n\n### 3-year Conditions (cond-a ~ cond-e)\n${conditions.map(c => `- ${c.entity_id}: ${c.entity_name}\\n  - unlock: ${c.unlock || 'N/A'}\\n  - if_broken: ${c.if_broken || 'N/A'}`).join('\\n')}\n\n### 12-month Tracks (trk-1 ~ trk-6)\n${tracks.map(t => `- ${t.entity_id}: ${t.entity_name}\\n  - hypothesis: ${t.hypothesis || 'N/A'}\\n  - focus: ${(t.focus || []).join(', ')}\\n  - conditions_3y: ${(t.conditions_3y || []).join(', ')}`).join('\\n')}\n\n### Hypotheses (hyp-*)\n${hypotheses.slice(0, 15).map(h => `- ${h.entity_id}: ${h.entity_name}\\n  - question: ${h.hypothesis_question || h.hypothesis_text || 'N/A'}`).join('\\n')}\n${hypotheses.length > 15 ? `\\n... (${hypotheses.length - 15} more hypotheses)` : ''}\n`;\n\nreturn [{\n  json: {\n    strategyContext: {\n      northstars: northstars,\n      metahypotheses: metahypotheses,\n      conditions: conditions,\n      tracks: tracks,\n      hypotheses: hypotheses\n    },\n    strategyContextText: strategyContextText\n  }\n}];"
                },
                "id": "71d402d6-f7dd-44fb-b313-cdaa5729e111",
                "name": "Build Strategy Context",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    -2624,
                    5328
                ]
            },
            {
                "parameters": {
                    "url": "https://mcp.sosilab.synology.me/api/tasks",
                    "authentication": "genericCredentialType",
                    "genericAuthType": "httpHeaderAuth",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "Authorization",
                                "value": "Bearer {{ $env.LOOP_API_TOKEN }}"
                            }
                        ]
                    },
                    "options": {}
                },
                "id": "5a0a91ec-2d66-4031-ae58-b42c81a48359",
                "name": "Get Tasks",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    -2432,
                    5136
                ],
                "credentials": {
                    "httpHeaderAuth": {
                        "id": "I4hdpx6QgaqnNS7P",
                        "name": "LOOP API Token"
                    }
                }
            },
            {
                "parameters": {
                    "jsCode": "// Phase 1: Task Schema Validation\n// - done/blocked \uc0c1\ud0dc\ub294 due_date \uccb4\ud06c \uc2a4\ud0b5\n// - missing_due_date, missing_assignee\ub294 LLM\uc73c\ub85c\n// - v3: conditions_3y \uac80\uc99d \uc81c\uac70 (Task\ub294 Project\ub97c \ud1b5\ud574 Condition\uc5d0 \uc5f0\uacb0)\n\nconst tasksInput = $input.first().json;\nconst contextInput = $('Build Strategy Context').first().json;\n\nconst tasks = tasksInput.tasks || [];\nconst strategyContextText = contextInput.strategyContextText || '';\nconst strategyContext = contextInput.strategyContext || {};\n\nconst results = [];\n\n// Valid values from schema_constants.yaml\nconst VALID_STATUS = ['todo', 'doing', 'hold', 'done', 'blocked'];\nconst VALID_PRIORITY = ['critical', 'high', 'medium', 'low'];\nconst VALID_TYPES = ['dev', 'strategy', 'research', 'ops', null];\nconst VALID_ASSIGNEES = ['\uae40\uc740\ud5a5', '\uc18c\uc0c1\ubbfc'];\n\n// LLM\uc774 \ud544\uc694\ud55c \uc774\uc288 \ubaa9\ub85d (v3: conditions_3y \uc81c\uac70)\nconst LLM_REQUIRED_ISSUES = ['missing_due_date', 'missing_assignee'];\n\n// LLM \ud504\ub86c\ud504\ud2b8 \ube4c\ub354 \ud568\uc218\nfunction buildLlmPrompt(task, issues) {\n  const taskJson = JSON.stringify(task, null, 2);\n  const issueList = Array.isArray(issues) && issues.length > 0 ? issues.join(', ') : 'none';\n  \n  return `You are a LOOP Vault schema expert. Given the following Task entity and strategy context, suggest appropriate values for missing or invalid fields.\n\n${strategyContextText}\n\n---\n\n## Task to Validate\n\\`\\`\\`json\n${taskJson}\n\\`\\`\\`\n\n## Issues Detected\n${issueList}\n\n## Instructions\n\nFor assignee, choose from: ${VALID_ASSIGNEES.join(', ')}\n\nFor due, suggest a reasonable date in YYYY-MM-DD format based on task complexity and current date (today is ${new Date().toISOString().split('T')[0]}).\n\nIMPORTANT: Analyze the task name (entity_name), notes, project_id, and tags to understand the task context.\n\nRespond with ONLY a valid JSON object (no markdown, no code blocks) with these fields:\n- suggested_fields: object with field names and suggested values\n- reasoning: object with field names and brief Korean explanation for each suggestion`;\n}\n\nfor (const task of tasks) {\n  const issues = [];\n  const suggestions = {};\n  const reasoning = {};\n\n  // Required field checks\n  if (!task.entity_id) {\n    issues.push('missing_entity_id');\n  }\n  if (!task.entity_name) {\n    issues.push('missing_entity_name');\n  }\n  if (!task.project_id) {\n    issues.push('missing_project_id');\n  }\n\n  // Status validation\n  if (task.status && !VALID_STATUS.includes(task.status)) {\n    issues.push('invalid_status');\n    suggestions.status = 'todo';\n    reasoning.status = `Invalid status \"${task.status}\". Defaulting to \"todo\".`;\n  }\n\n  // Priority validation\n  if (task.priority && !VALID_PRIORITY.includes(task.priority)) {\n    issues.push('invalid_priority');\n    suggestions.priority = 'medium';\n    reasoning.priority = `Invalid priority \"${task.priority}\". Defaulting to \"medium\".`;\n  }\n\n  // Type validation\n  if (task.type && !VALID_TYPES.includes(task.type)) {\n    issues.push('invalid_type');\n    suggestions.type = null;\n    reasoning.type = `Invalid type \"${task.type}\". Setting to null.`;\n  }\n\n  // assignee check\n  if (!task.assignee) {\n    issues.push('missing_assignee');\n    reasoning.assignee = 'assignee \ubbf8\uc9c0\uc815. \ub9e5\ub77d \uae30\ubc18 \ucd94\ub860 \ud544\uc694.';\n  }\n\n  // due date check - todo/doing \uc0c1\ud0dc\ub9cc \uccb4\ud06c (done/blocked\ub294 \uc2a4\ud0b5)\n  const needsDueDate = ['todo', 'doing'].includes(task.status);\n  if (needsDueDate && !task.due && !task.due_date) {\n    issues.push('missing_due_date');\n    reasoning.due = 'due_date \ubbf8\uc9c0\uc815. \ub9e5\ub77d \uae30\ubc18 \ucd94\ub860 \ud544\uc694.';\n  }\n\n  // \uc774\uc288\uac00 \uc788\ub294 \uacbd\uc6b0\ub9cc \uacb0\uacfc\uc5d0 \ucd94\uac00\n  if (issues.length > 0) {\n    // LLM \ud544\uc694 \uc5ec\ubd80 \ud310\ub2e8\n    const needsLlm = issues.some(issue => LLM_REQUIRED_ISSUES.includes(issue));\n    \n    // deterministic_fixes\uac00 \ube44\uc5b4\uc788\uace0 LLM\ub3c4 \ud544\uc694\uc5c6\uc73c\uba74 \uc2a4\ud0b5\n    const hasDeterministicFixes = Object.keys(suggestions).length > 0;\n    if (!needsLlm && !hasDeterministicFixes) {\n      continue; // \uc758\ubbf8\uc5c6\ub294 pending \uc0dd\uc131 \ubc29\uc9c0\n    }\n\n    const result = {\n      entity_id: task.entity_id,\n      entity_name: task.entity_name,\n      entity_type: 'Task',\n      phase: 'task_schema',\n      issues: issues,\n      deterministic_fixes: suggestions,\n      needs_llm: needsLlm,\n      has_deterministic_fixes: hasDeterministicFixes,\n      reasoning: reasoning,\n      original_entity: task\n    };\n    \n    // LLM\uc774 \ud544\uc694\ud55c \uacbd\uc6b0\uc5d0\ub9cc \ud504\ub86c\ud504\ud2b8 \uc0dd\uc131\n    if (needsLlm) {\n      result.llm_prompt = buildLlmPrompt(task, issues);\n    }\n    \n    results.push(result);\n  }\n}\n\nreturn results.map(r => ({ json: r }));"
                },
                "id": "b51db517-e0d9-41b2-93a3-5a22a19bada5",
                "name": "Validate Tasks",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    -2224,
                    5136
                ]
            },
            {
                "parameters": {
                    "conditions": {
                        "boolean": [
                            {
                                "value1": "={{ $json.needs_llm === true && !!$json.llm_prompt }}",
                                "value2": true
                            }
                        ]
                    },
                    "options": {}
                },
                "id": "fccdcc0c-7d5c-4cd4-8928-a3dc4a5b0d01",
                "name": "Tasks Need LLM?",
                "type": "n8n-nodes-base.if",
                "typeVersion": 2,
                "position": [
                    -2032,
                    5136
                ]
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "https://mcp.sosilab.synology.me/api/ai/infer/task_schema",
                    "authentication": "genericCredentialType",
                    "genericAuthType": "httpHeaderAuth",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "Authorization",
                                "value": "Bearer {{ $env.LOOP_API_TOKEN }}"
                            },
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    },
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "={{ { \"task_id\": $json.entity_id, \"issues\": $json.issues, \"mode\": \"auto_apply\", \"provider\": \"openai\", \"actor\": \"n8n\", \"original_entity\": $json.original_entity, \"strategy_context\": $('Build Strategy Context').first().json.strategyContext, \"create_pending\": true, \"schema_version\": \"5.3\", \"source_workflow\": \"entity-validator\" } }}",
                    "options": {
                        "response": {
                            "response": {}
                        }
                    }
                },
                "id": "cd6932ee-e5ba-44f4-bc50-cad4eb9aff15",
                "name": "Call AI Router (Task Schema)",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    -1824,
                    5024
                ],
                "credentials": {
                    "httpHeaderAuth": {
                        "id": "I4hdpx6QgaqnNS7P",
                        "name": "LOOP API Token"
                    }
                },
                "notes": "v5: AI Router \ud1b5\ud569 - pending \uc790\ub3d9 \uc0dd\uc131, audit \ub85c\uadf8 \ud1b5\ud569"
            },
            {
                "parameters": {
                    "jsCode": "// Parse AI Router response for Tasks (v5)\n// AI Router \uc751\ub2f5: { ok, run_id, patch, suggested_fields, reasoning, warnings, pending, audit_ref }\n// pending\uc774 \uc774\ubbf8 \uc0dd\uc131\ub418\uc5c8\uc73c\ubbc0\ub85c \ubcc4\ub3c4 Create Pending \ub178\ub4dc \ubd88\ud544\uc694\n\nconst input = $input.first().json;\n\n// v5: includeInputData\ub85c \uc6d0\ubcf8 \uc785\ub825\uc774 \ud3ec\ud568\ub428\nconst inputData = input.$input?.item?.json || input.$input?.items?.[0]?.json || {};\n\n// entity \uc815\ubcf4 \ucd94\ucd9c (\uc5ec\ub7ec fallback \uacbd\ub85c)\nconst entity_id = input.entity_id || inputData.entity_id || null;\nconst entity_name = input.entity_name || inputData.entity_name || 'unknown';\nconst phase = 'task_schema';\n\n// \uc5d0\ub7ec \ucc98\ub9ac\nif (!input.ok) {\n  return [{\n    json: {\n      entity_id: entity_id || 'unknown',\n      entity_type: 'Task',\n      entity_name,\n      phase,\n      success: false,\n      error: input.error || 'AI Router call failed',\n      run_id: input.run_id || 'unknown'\n    }\n  }];\n}\n\n// AI Router\uac00 \uc774\ubbf8 pending\uc744 \uc0dd\uc131\ud588\uc73c\ubbc0\ub85c \uc131\uacf5 \uc751\ub2f5 \ubc18\ud658\nreturn [{\n  json: {\n    entity_id,\n    entity_type: 'Task',\n    entity_name,\n    phase,\n    success: true,\n    run_id: input.run_id,\n    suggested_fields: input.suggested_fields || {},\n    reasoning: input.reasoning || {},\n    warnings: input.warnings || [],\n    pending: input.pending,\n    audit_ref: input.audit_ref\n  }\n}];"
                },
                "id": "e9908d30-4349-4b21-93dd-903bc1e3ff53",
                "name": "Parse Tasks Response",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    -1632,
                    5024
                ],
                "notes": "v5: AI Router \uc751\ub2f5 \ud30c\uc2f1 (pending \uc774\ubbf8 \uc0dd\uc131\ub428)"
            },
            {
                "parameters": {
                    "url": "https://mcp.sosilab.synology.me/api/projects",
                    "authentication": "genericCredentialType",
                    "genericAuthType": "httpHeaderAuth",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "Authorization",
                                "value": "Bearer {{ $env.LOOP_API_TOKEN }}"
                            }
                        ]
                    },
                    "options": {}
                },
                "id": "876be67d-ab56-46a9-bc26-de149f7a5f91",
                "name": "Get Projects",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    -2432,
                    5536
                ],
                "credentials": {
                    "httpHeaderAuth": {
                        "id": "I4hdpx6QgaqnNS7P",
                        "name": "LOOP API Token"
                    }
                }
            },
            {
                "parameters": {
                    "jsCode": "// Phase 2: Project Schema Validation (v5.2)\n// - owner, parent_id (Track), conditions_3y \ud544\uc218\n// - primary_hypothesis_id, validates, condition_contributes, track_contributes LLM \ucd94\ub860\n// - validated_by\ub294 derived \ud544\ub4dc \u2192 \uc81c\uc548\ud558\uc9c0 \uc54a\uc74c\n// - v3: Schema v5.2 \ubc18\uc601 (prj-impact-schema-v2)\n\nconst projectsInput = $input.first().json;\nconst contextInput = $('Build Strategy Context').first().json;\n\nconst projects = projectsInput.projects || [];\nconst strategyContextText = contextInput.strategyContextText || '';\nconst strategyContext = contextInput.strategyContext || {};\n\nconst results = [];\n\n// Valid values\nconst VALID_STATUS = ['planning', 'active', 'paused', 'done', 'cancelled'];\nconst VALID_PRIORITY = ['critical', 'high', 'medium', 'low'];\nconst VALID_OWNERS = ['\uae40\uc740\ud5a5', '\uc18c\uc0c1\ubbfc'];\nconst VALID_CONDITION_IDS = ['cond-a', 'cond-b', 'cond-c', 'cond-d', 'cond-e'];\nconst VALID_TRACK_IDS = ['trk-1', 'trk-2', 'trk-3', 'trk-4', 'trk-5', 'trk-6'];\n\n// LLM\uc774 \ud544\uc694\ud55c \uc774\uc288 \ubaa9\ub85d (v5.2: hypothesis_id \u2192 primary_hypothesis_id, validates \ucd94\uac00)\nconst LLM_REQUIRED_ISSUES = [\n  'missing_owner', 'missing_parent_id', 'missing_conditions_3y',\n  'missing_primary_hypothesis_id', 'missing_validates',\n  'missing_condition_contributes', 'missing_track_contributes'\n];\n\n// LLM \ud504\ub86c\ud504\ud2b8 \ube4c\ub354 \ud568\uc218 (v5.2)\nfunction buildLlmPrompt(project, issues) {\n  const projectJson = JSON.stringify(project, null, 2);\n  const issueList = Array.isArray(issues) && issues.length > 0 ? issues.join(', ') : 'none';\n  \n  // Hypothesis \ubaa9\ub85d (LLM\uc774 \uc120\ud0dd\ud560 \uc218 \uc788\ub3c4\ub85d)\n  const hypothesesList = (strategyContext.hypotheses || []).map(h => \n    `- ${h.entity_id}: ${h.entity_name}`\n  ).join('\\n');\n  \n  return `You are a LOOP Vault schema expert (Schema v5.2). Given the following Project entity and strategy context, suggest appropriate values for missing or invalid fields.\n\n${strategyContextText}\n\n---\n\n## Project to Validate\n\\`\\`\\`json\n${projectJson}\n\\`\\`\\`\n\n## Issues Detected\n${issueList}\n\n## Instructions\n\n### For owner\nChoose from: ${VALID_OWNERS.join(', ')}\n\n### For parent_id (Track)\nChoose the primary Track this project belongs to:\n${VALID_TRACK_IDS.map(t => `- ${t}`).join('\\n')}\n\n### For conditions_3y\nList of 3Y Conditions this project contributes to (array):\n- cond-a: Product-Market Fit (\uc81c\ud488-\uc2dc\uc7a5 \uc801\ud569\uc131)\n- cond-b: Revenue Model (\uc218\uc775 \ubaa8\ub378)\n- cond-c: Scalability (\ud655\uc7a5\uc131)\n- cond-d: Team (\ud300)\n- cond-e: Tech/Infrastructure (\uae30\uc220/\uc778\ud504\ub77c)\n\n### For validates (optional but recommended) - v5.2\nArray of Hypothesis IDs this project validates.\nSelect from 60_Hypotheses:\n${hypothesesList}\nExample: [\"hyp-2-01\", \"hyp-2-03\"]\nIf no hypotheses to validate, set to empty array [].\n\n### For primary_hypothesis_id (optional) - v5.2\nThe MAIN hypothesis this project was created to validate.\nMust be one of the values in validates array, or null.\n\u26a0\ufe0f DEPRECATED: hypothesis_id - Use primary_hypothesis_id instead.\n\n### For condition_contributes (required) - v5.1\nArray of Condition contribution weights. Example:\n[\n  { \"to\": \"cond-a\", \"weight\": 0.6, \"description\": \"PMF \uac80\uc99d\uc5d0 60% \uae30\uc5ec\" },\n  { \"to\": \"cond-e\", \"weight\": 0.4, \"description\": \"\uae30\uc220 \uc778\ud504\ub77c \uad6c\ucd95\uc5d0 40% \uae30\uc5ec\" }\n]\n- Weights should sum to \u2264 1.0\n- Choose conditions based on what this project actually contributes to\n\n### For track_contributes (optional) - v5.1\nIf this project contributes to secondary Tracks (beyond parent_id), specify:\n[\n  { \"to\": \"trk-2\", \"weight\": 0.3, \"description\": \"\ub370\uc774\ud130 \ud30c\uc774\ud504\ub77c\uc778\uc5d0 \ubd80\ubd84 \uae30\uc5ec\" }\n]\n- Only include if the project genuinely contributes to other Tracks\n- Leave empty array [] if only primary Track\n\n### \u26d4 NEVER suggest these derived fields (v5.2):\n- validated_by: computed from Evidence (\uc5ed\uc778\ub371\uc2a4 \uacc4\uc0b0)\n- realized_sum: computed from child Projects (\ud558\uc704 \uc9d1\uacc4)\n\nIMPORTANT: Analyze the project name (entity_name), notes, and context to understand what this project is about. Match strategic elements based on actual project purpose.\n\nRespond with ONLY a valid JSON object (no markdown, no code blocks) with these fields:\n- suggested_fields: object with field names and suggested values\n- reasoning: object with field names and brief Korean explanation for each suggestion`;\n}\n\nfor (const project of projects) {\n  const issues = [];\n  const suggestions = {};\n  const reasoning = {};\n\n  // Required field checks\n  if (!project.entity_id) {\n    issues.push('missing_entity_id');\n  }\n  if (!project.entity_name) {\n    issues.push('missing_entity_name');\n  }\n\n  // Status validation\n  if (project.status && !VALID_STATUS.includes(project.status)) {\n    issues.push('invalid_status');\n    suggestions.status = 'planning';\n    reasoning.status = `Invalid status \"${project.status}\". Defaulting to \"planning\".`;\n  }\n\n  // owner check\n  if (!project.owner) {\n    issues.push('missing_owner');\n    reasoning.owner = 'owner \ubbf8\uc9c0\uc815. \ub9e5\ub77d \uae30\ubc18 \ucd94\ub860 \ud544\uc694.';\n  }\n\n  // parent_id check (Track)\n  if (!project.parent_id) {\n    issues.push('missing_parent_id');\n    reasoning.parent_id = 'parent_id (Track) \ubbf8\uc9c0\uc815. \ub9e5\ub77d \uae30\ubc18 \ucd94\ub860 \ud544\uc694.';\n  }\n\n  // conditions_3y validation\n  if (!project.conditions_3y || project.conditions_3y.length === 0) {\n    issues.push('missing_conditions_3y');\n    reasoning.conditions_3y = 'Project\ub294 3Y Condition \uc5f0\uacb0 \ud544\uc218. LLM \ucd94\ub860 \ud544\uc694.';\n  }\n\n  // validates check (v5.2 - optional but recommended)\n  if (!project.validates || project.validates.length === 0) {\n    issues.push('missing_validates');\n    reasoning.validates = 'validates \ubbf8\uc9c0\uc815. \uac80\uc99d\ud558\ub824\ub294 \uac00\uc124\uc774 \uc788\ub2e4\uba74 \uc5f0\uacb0 \uad8c\uc7a5.';\n  }\n\n  // primary_hypothesis_id check (v5.2 - replaces hypothesis_id)\n  if (!project.primary_hypothesis_id && !project.hypothesis_id) {\n    issues.push('missing_primary_hypothesis_id');\n    reasoning.primary_hypothesis_id = 'primary_hypothesis_id \ubbf8\uc9c0\uc815. validates \uc911 \ud575\uc2ec \uac00\uc124 1\uac1c \uc5f0\uacb0 \uad8c\uc7a5.';\n  }\n\n  // condition_contributes check (required for impact calculation)\n  if (!project.condition_contributes || project.condition_contributes.length === 0) {\n    issues.push('missing_condition_contributes');\n    reasoning.condition_contributes = 'condition_contributes \ubbf8\uc9c0\uc815. \uac01 Condition\uc5d0 \ub300\ud55c \uae30\uc5ec\ub3c4 \ud544\uc694.';\n  }\n\n  // \uc774\uc288\uac00 \uc788\ub294 \uacbd\uc6b0\ub9cc \uacb0\uacfc\uc5d0 \ucd94\uac00\n  if (issues.length > 0) {\n    const needsLlm = issues.some(issue => LLM_REQUIRED_ISSUES.includes(issue));\n    const hasDeterministicFixes = Object.keys(suggestions).length > 0;\n    \n    if (!needsLlm && !hasDeterministicFixes) {\n      continue;\n    }\n\n    const result = {\n      entity_id: project.entity_id,\n      entity_name: project.entity_name,\n      entity_type: 'Project',\n      phase: 'project_schema',\n      issues: issues,\n      deterministic_fixes: suggestions,\n      needs_llm: needsLlm,\n      has_deterministic_fixes: hasDeterministicFixes,\n      reasoning: reasoning,\n      original_entity: project\n    };\n    \n    if (needsLlm) {\n      result.llm_prompt = buildLlmPrompt(project, issues);\n    }\n    \n    results.push(result);\n  }\n}\n\nreturn results.map(r => ({ json: r }));"
                },
                "id": "c34bdc76-8fd9-4ba2-9c82-65f9001d1c15",
                "name": "Validate Projects",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    -2224,
                    5536
                ]
            },
            {
                "parameters": {
                    "conditions": {
                        "boolean": [
                            {
                                "value1": "={{ $json.needs_llm === true && !!$json.llm_prompt }}",
                                "value2": true
                            }
                        ]
                    },
                    "options": {}
                },
                "id": "72ae39a1-42d6-49a2-abc8-1747d15cbad8",
                "name": "Projects Need LLM?",
                "type": "n8n-nodes-base.if",
                "typeVersion": 2,
                "position": [
                    -2032,
                    5536
                ]
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "https://mcp.sosilab.synology.me/api/ai/infer/project_schema",
                    "authentication": "genericCredentialType",
                    "genericAuthType": "httpHeaderAuth",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "Authorization",
                                "value": "Bearer {{ $env.LOOP_API_TOKEN }}"
                            },
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    },
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "={{ { \"project_id\": $json.entity_id, \"issues\": $json.issues, \"mode\": \"auto_apply\", \"provider\": \"openai\", \"actor\": \"n8n\", \"original_entity\": $json.original_entity, \"strategy_context\": $('Build Strategy Context').first().json.strategyContext, \"create_pending\": true, \"schema_version\": \"5.3\", \"source_workflow\": \"entity-validator\" } }}",
                    "options": {
                        "response": {
                            "response": {}
                        }
                    }
                },
                "id": "98acb771-06cc-4e58-a14e-69fafc2a334e",
                "name": "Call AI Router (Project Schema)",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    -1824,
                    5424
                ],
                "credentials": {
                    "httpHeaderAuth": {
                        "id": "I4hdpx6QgaqnNS7P",
                        "name": "LOOP API Token"
                    }
                },
                "notes": "v5: AI Router \ud1b5\ud569 - pending \uc790\ub3d9 \uc0dd\uc131, audit \ub85c\uadf8 \ud1b5\ud569"
            },
            {
                "parameters": {
                    "jsCode": "// Parse AI Router response for Projects (v5)\n// AI Router \uc751\ub2f5: { ok, run_id, patch, suggested_fields, reasoning, warnings, pending, audit_ref }\n// pending\uc774 \uc774\ubbf8 \uc0dd\uc131\ub418\uc5c8\uc73c\ubbc0\ub85c \ubcc4\ub3c4 Create Pending \ub178\ub4dc \ubd88\ud544\uc694\n\nconst input = $input.first().json;\n\n// v5: includeInputData\ub85c \uc6d0\ubcf8 \uc785\ub825\uc774 \ud3ec\ud568\ub428\nconst inputData = input.$input?.item?.json || input.$input?.items?.[0]?.json || {};\n\n// entity \uc815\ubcf4 \ucd94\ucd9c (\uc5ec\ub7ec fallback \uacbd\ub85c)\nconst entity_id = input.entity_id || inputData.entity_id || null;\nconst entity_name = input.entity_name || inputData.entity_name || 'unknown';\nconst phase = 'project_schema';\n\n// \uc5d0\ub7ec \ucc98\ub9ac\nif (!input.ok) {\n  return [{\n    json: {\n      entity_id: entity_id || 'unknown',\n      entity_type: 'Project',\n      entity_name,\n      phase,\n      success: false,\n      error: input.error || 'AI Router call failed',\n      run_id: input.run_id || 'unknown'\n    }\n  }];\n}\n\n// AI Router\uac00 \uc774\ubbf8 pending\uc744 \uc0dd\uc131\ud588\uc73c\ubbc0\ub85c \uc131\uacf5 \uc751\ub2f5 \ubc18\ud658\nreturn [{\n  json: {\n    entity_id,\n    entity_type: 'Project',\n    entity_name,\n    phase,\n    success: true,\n    run_id: input.run_id,\n    suggested_fields: input.suggested_fields || {},\n    reasoning: input.reasoning || {},\n    warnings: input.warnings || [],\n    pending: input.pending,\n    audit_ref: input.audit_ref\n  }\n}];"
                },
                "id": "c0ce0ac3-d41f-4e10-8037-a67b39d73281",
                "name": "Parse Projects Response",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    -1632,
                    5424
                ],
                "notes": "v5: AI Router \uc751\ub2f5 \ud30c\uc2f1 (pending \uc774\ubbf8 \uc0dd\uc131\ub428)"
            },
            {
                "parameters": {
                    "jsCode": "// Phase 3: Project Impact Auto-fill (v6 - suggest-batch API \uc0ac\uc6a9)\n// v6: /api/ai/infer/project_impact \u2192 /api/mcp/impact/expected/suggest-batch \ubcc0\uacbd\n// suggest-batch\ub294 constraints \ub85c\uc9c1\uc774 \uc788\uc5b4 Track\ubcc4 \uac00\uc124 \ud544\ud130\ub9c1 \uc9c0\uc6d0\n\nconst projectsInput = $('Get Projects').first().json;\nconst projects = projectsInput.projects || [];\n\nconst results = [];\n\n// run_id \uc0dd\uc131 \ud568\uc218 (\uac01 \uc694\uccad\ub9c8\ub2e4 \uace0\uc720 ID)\nfunction generateRunId() {\n  const iso = new Date().toISOString();\n  const datePart = iso.slice(0, 10).replace(/-/g, '');\n  const timePart = iso.slice(11, 19).replace(/:/g, '');\n  const rand = Math.random().toString(36).slice(2, 8);\n  return `run-${datePart}-${timePart}-${rand}`;\n}\n\nfor (const project of projects) {\n  // Check if expected_impact is missing or incomplete\n  const needsExpectedImpact = !project.expected_impact || \n    !project.expected_impact.tier ||\n    project.expected_impact.tier === null ||\n    project.tier === null;\n  \n  // Check if realized_impact is needed (done/cancelled projects)\n  const isCompleted = ['done', 'cancelled'].includes(project.status);\n  const needsRealizedImpact = isCompleted && (!project.realized_impact || !project.realized_impact.verdict);\n  \n  if (needsExpectedImpact) {\n    const run_id = generateRunId();\n    results.push({\n      json: {\n        // v4.1: meta_* \ud0a4 (HTTP includeInputData\ub85c \uc751\ub2f5\uc5d0 \ud3ec\ud568\ub428)\n        meta_entity_id: project.entity_id,\n        meta_entity_name: project.entity_name,\n        meta_phase: 'expected_impact',\n        meta_run_id: run_id,\n        // \uae30\uc874 \ud544\ub4dc \uc720\uc9c0 (\ub2e4\uc6b4\uc2a4\ud2b8\ub9bc \ub178\ub4dc \ud638\ud658)\n        entity_id: project.entity_id,\n        entity_name: project.entity_name,\n        entity_type: 'Project',\n        phase: 'expected_impact',\n        needs_llm: true,\n        // v6: suggest-batch API\uc6a9 \uc694\uccad \ub370\uc774\ud130\n        api_request: {\n          run_id: run_id,\n          items: [{ project_id: project.entity_id }],\n          mode: 'pending',\n          provider: 'openai',\n          actor: 'n8n',\n          source_workflow: 'entity-validator'\n        },\n        original_entity: project\n      }\n    });\n  }\n  \n  if (needsRealizedImpact) {\n    const run_id = generateRunId();\n    results.push({\n      json: {\n        // v4.1: meta_* \ud0a4 (HTTP includeInputData\ub85c \uc751\ub2f5\uc5d0 \ud3ec\ud568\ub428)\n        meta_entity_id: project.entity_id,\n        meta_entity_name: project.entity_name,\n        meta_phase: 'realized_impact',\n        meta_run_id: run_id,\n        // \uae30\uc874 \ud544\ub4dc \uc720\uc9c0 (\ub2e4\uc6b4\uc2a4\ud2b8\ub9bc \ub178\ub4dc \ud638\ud658)\n        entity_id: project.entity_id,\n        entity_name: project.entity_name,\n        entity_type: 'Project',\n        phase: 'realized_impact',\n        needs_llm: true,\n        // v4: ai router\uc6a9 \uc694\uccad \ub370\uc774\ud130 (Evidence \uc5d4\ub4dc\ud3ec\uc778\ud2b8\ub294 \uadf8\ub300\ub85c \uc720\uc9c0)\n        api_request: {\n          project_id: project.entity_id,\n          run_id: run_id,\n          mode: 'pending',\n          provider: 'openai',\n          actor: 'n8n',\n          create_pending: true,\n          schema_version: '5.3',\n          source_workflow: 'entity-validator',\n          retrospective_content: null,\n          actual_result: null\n        },\n        original_entity: project\n      }\n    });\n  }\n}\n\nreturn results;"
                },
                "id": "8bf6f842-3061-4a95-8e7c-112300589002",
                "name": "Filter Impact Needed",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    -2224,
                    5824
                ],
                "notes": "v4.1: run_id \uc0dd\uc131 + meta_* \ud0a4 \ucd94\uac00 (HTTP includeInputData \uc9c0\uc6d0)"
            },
            {
                "parameters": {
                    "conditions": {
                        "boolean": [
                            {
                                "value1": "={{ $json.needs_llm === true && !!$json.api_request }}",
                                "value2": true
                            }
                        ]
                    },
                    "options": {}
                },
                "id": "78a4a3c4-4f4c-43e2-b647-aedef551f007",
                "name": "Impact Need LLM?",
                "type": "n8n-nodes-base.if",
                "typeVersion": 2,
                "position": [
                    -2080,
                    5824
                ]
            },
            {
                "parameters": {
                    "rules": {
                        "values": [
                            {
                                "conditions": {
                                    "options": {
                                        "combinator": "and"
                                    },
                                    "conditions": [
                                        {
                                            "leftValue": "={{ $json.phase }}",
                                            "rightValue": "expected_impact",
                                            "operator": {
                                                "type": "string",
                                                "operation": "equals"
                                            }
                                        }
                                    ]
                                },
                                "renameOutput": true,
                                "outputKey": "Expected"
                            },
                            {
                                "conditions": {
                                    "options": {
                                        "combinator": "and"
                                    },
                                    "conditions": [
                                        {
                                            "leftValue": "={{ $json.phase }}",
                                            "rightValue": "realized_impact",
                                            "operator": {
                                                "type": "string",
                                                "operation": "equals"
                                            }
                                        }
                                    ]
                                },
                                "renameOutput": true,
                                "outputKey": "Realized"
                            }
                        ]
                    },
                    "options": {}
                },
                "id": "d6acef10-e3ed-492b-9002-b0da3cb7a902",
                "name": "Route by Phase",
                "type": "n8n-nodes-base.switch",
                "typeVersion": 3,
                "position": [
                    -1920,
                    5824
                ],
                "notes": "v7: Switch \ub178\ub4dc\ub85c \ubcc0\uacbd (Code multi-output \ubc84\uadf8 \uc6b0\ud68c)"
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "https://mcp.sosilab.synology.me/api/mcp/impact/expected/suggest-batch",
                    "authentication": "genericCredentialType",
                    "genericAuthType": "httpHeaderAuth",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "Authorization",
                                "value": "Bearer {{ $env.LOOP_API_TOKEN }}"
                            },
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    },
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "={{ $json.api_request }}",
                    "options": {
                        "response": {
                            "response": {}
                        }
                    }
                },
                "id": "3915ff7b-27db-4812-8978-c2fb7ba1d929",
                "name": "Call AI Router (Expected)",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    -1728,
                    5728
                ],
                "credentials": {
                    "httpHeaderAuth": {
                        "id": "I4hdpx6QgaqnNS7P",
                        "name": "LOOP API Token"
                    }
                },
                "notes": "v4: /api/ai/infer/project_impact - Expected Impact (A Score)"
            },
            {
                "parameters": {
                    "jsCode": "// v6: Extract Attachment Texts (tsk-dashboard-ux-v1-21)\n// Realized Impact \uacbd\ub85c\uc5d0\uc11c \ucca8\ubd80\ud30c\uc77c \ud14d\uc2a4\ud2b8 \ucd94\ucd9c \ud6c4 api_request\uc5d0 \ucd94\uac00\n//\n// \ud750\ub984:\n// 1. GET /api/projects/{id}/tasks\n// 2. \uac01 Task\ubcc4 GET /api/tasks/{id}/attachments\n// 3. \ud14d\uc2a4\ud2b8 \ucd94\ucd9c \uac00\ub2a5\ud55c \ud30c\uc77c\ub9cc GET /api/tasks/{id}/attachments/{filename}/text\n// 4. \ucd94\ucd9c\ub41c \ud14d\uc2a4\ud2b8\ub97c retrospective_content\ub85c \ubcd1\ud569\n\nconst item = $input.first().json;\nconst projectId = item.entity_id;\nconst API_URL = 'https://mcp.sosilab.synology.me';\n\n// \ud658\uacbd\ubcc0\uc218\uc5d0\uc11c \ud1a0\ud070 \uac00\uc838\uc624\uae30\nconst TOKEN = $env.LOOP_API_TOKEN;\n\nif (!TOKEN) {\n  // \ud1a0\ud070 \uc5c6\uc73c\uba74 \uadf8\ub0e5 \ud1b5\uacfc (\ud14d\uc2a4\ud2b8 \uc5c6\uc774 \uc9c4\ud589)\n  return [{ json: item }];\n}\n\nconst headers = {\n  'Authorization': `Bearer ${TOKEN}`,\n  'Content-Type': 'application/json'\n};\n\nconst extractedTexts = [];\n\ntry {\n  // 1. Get project tasks\n  const tasksResp = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `${API_URL}/api/projects/${projectId}/tasks`,\n    headers: headers,\n    returnFullResponse: false\n  });\n  \n  const tasks = tasksResp.tasks || [];\n  \n  for (const task of tasks) {\n    try {\n      // 2. Get task attachments\n      const attachResp = await this.helpers.httpRequest({\n        method: 'GET',\n        url: `${API_URL}/api/tasks/${task.entity_id}/attachments`,\n        headers: headers,\n        returnFullResponse: false\n      });\n      \n      const attachments = attachResp.attachments || [];\n      \n      // 3. Filter extractable formats\n      const extractable = attachments.filter(a => {\n        const ext = (a.filename || '').split('.').pop().toLowerCase();\n        return ['pdf', 'hwp', 'hwpx', 'doc', 'docx', 'txt', 'md'].includes(ext);\n      });\n      \n      // 4. Extract text from each attachment\n      for (const att of extractable) {\n        try {\n          const textResp = await this.helpers.httpRequest({\n            method: 'GET',\n            url: `${API_URL}/api/tasks/${task.entity_id}/attachments/${encodeURIComponent(att.filename)}/text?max_chars=50000`,\n            headers: headers,\n            returnFullResponse: false\n          });\n          \n          if (textResp.success && textResp.text) {\n            extractedTexts.push({\n              task_id: task.entity_id,\n              task_name: task.entity_name || '',\n              filename: att.filename,\n              text: textResp.text,\n              chars: textResp.chars || textResp.text.length\n            });\n          }\n        } catch (textErr) {\n          // \uac1c\ubcc4 \ud30c\uc77c \ucd94\ucd9c \uc2e4\ud328 \uc2dc \uac74\ub108\ub6f0\uae30\n          console.log(`Failed to extract ${att.filename}: ${textErr.message}`);\n        }\n      }\n    } catch (attachErr) {\n      // Task \ucca8\ubd80\ud30c\uc77c \uc870\ud68c \uc2e4\ud328 \uc2dc \uac74\ub108\ub6f0\uae30\n      console.log(`Failed to get attachments for ${task.entity_id}: ${attachErr.message}`);\n    }\n  }\n} catch (tasksErr) {\n  // Project tasks \uc870\ud68c \uc2e4\ud328 \uc2dc \ud14d\uc2a4\ud2b8 \uc5c6\uc774 \uc9c4\ud589\n  console.log(`Failed to get tasks for ${projectId}: ${tasksErr.message}`);\n}\n\n// 5. Build retrospective_content\nlet retrospectiveContent = null;\nif (extractedTexts.length > 0) {\n  retrospectiveContent = extractedTexts.map(t =>\n    `## ${t.task_name} (${t.task_id}) / ${t.filename}\\n\\n${t.text}`\n  ).join('\\n\\n---\\n\\n');\n  \n  // Truncate if too long (100KB limit)\n  if (retrospectiveContent.length > 100000) {\n    retrospectiveContent = retrospectiveContent.slice(0, 100000) + '\\n\\n[... truncated ...]';\n  }\n}\n\n// 6. Update api_request\nconst apiRequest = item.api_request || {};\napiRequest.retrospective_content = retrospectiveContent;\napiRequest.actual_result = extractedTexts.length > 0\n  ? `${extractedTexts.length}\uac1c \ucca8\ubd80\ud30c\uc77c\uc5d0\uc11c \ud14d\uc2a4\ud2b8 \ucd94\ucd9c \uc644\ub8cc (\ucd1d ${extractedTexts.reduce((sum, t) => sum + t.chars, 0).toLocaleString()}\uc790)`\n  : null;\n\nreturn [{\n  json: {\n    ...item,\n    api_request: apiRequest,\n    attachment_stats: {\n      total_extracted: extractedTexts.length,\n      total_chars: extractedTexts.reduce((sum, t) => sum + t.chars, 0),\n      files: extractedTexts.map(t => ({ task_id: t.task_id, filename: t.filename, chars: t.chars }))\n    }\n  }\n}];"
                },
                "id": "7951e863-a574-4887-999f-7612784b63d1",
                "name": "Extract Attachment Texts",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    -1728,
                    5936
                ],
                "notes": "v6: tsk-dashboard-ux-v1-21 - Realized Impact \uacbd\ub85c\uc5d0\uc11c \ucca8\ubd80\ud30c\uc77c \ud14d\uc2a4\ud2b8 \ucd94\ucd9c. \ucd94\ucd9c\ub41c \ud14d\uc2a4\ud2b8\ub97c retrospective_content\ub85c Evidence API\uc5d0 \uc804\ub2ec."
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "https://mcp.sosilab.synology.me/api/ai/infer/evidence",
                    "authentication": "genericCredentialType",
                    "genericAuthType": "httpHeaderAuth",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "Authorization",
                                "value": "Bearer {{ $env.LOOP_API_TOKEN }}"
                            },
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    },
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "={{ $json.api_request }}",
                    "options": {
                        "response": {
                            "response": {}
                        }
                    }
                },
                "id": "0b1e06ac-d565-43f5-92dd-2f19c3793969",
                "name": "Call AI Router (Evidence)",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    -1520,
                    5936
                ],
                "credentials": {
                    "httpHeaderAuth": {
                        "id": "I4hdpx6QgaqnNS7P",
                        "name": "LOOP API Token"
                    }
                },
                "notes": "v6: /api/ai/infer/evidence - Realized Impact (B Score). \ucca8\ubd80\ud30c\uc77c \ud14d\uc2a4\ud2b8\uac00 retrospective_content\ub85c \ud3ec\ud568\ub428."
            },
            {
                "parameters": {
                    "jsCode": "// Parse suggest-batch response (v6 - suggest-batch API \uc0ac\uc6a9)\n// suggest-batch \uc751\ub2f5: { run_id, mode, suggestions: [{ project_id, status, apply_patch, ... }], summary }\n// pending\uc774 \uc774\ubbf8 \uc0dd\uc131\ub418\uc5c8\uc73c\ubbc0\ub85c \ubcc4\ub3c4 Create Pending \ub178\ub4dc \ubd88\ud544\uc694\n\nconst input = $input.first().json;\n\n// v5: includeInputData\ub294 fallback\uc73c\ub85c\ub9cc \uc0ac\uc6a9 (API \uc751\ub2f5 \uc6b0\uc120)\nconst inputData = input.$input?.item?.json || input.$input?.items?.[0]?.json || {};\n\n// Meta \uc815\ubcf4 \ucd94\ucd9c\nconst entity_id = inputData.meta_entity_id || inputData.entity_id || null;\nconst entity_name = inputData.meta_entity_name || inputData.entity_name || 'unknown';\nconst phase = inputData.meta_phase || inputData.phase || 'expected_impact';\nconst meta_run_id = inputData.meta_run_id || inputData.api_request?.run_id || null;\n\n// run_id: API \uc751\ub2f5\uc5d0\uc11c \uc6b0\uc120 \uac00\uc838\uc624\uace0, \uc5c6\uc73c\uba74 meta\uc5d0\uc11c\nconst final_run_id = input.run_id || meta_run_id || 'unknown';\n\n// \uc5d0\ub7ec \ucc98\ub9ac: entity_id\uac00 \uc5c6\ub294 \uacbd\uc6b0\nif (!entity_id) {\n  return [{\n    json: {\n      entity_id: 'unknown',\n      entity_type: 'Project',\n      entity_name: entity_name,\n      phase: phase,\n      success: false,\n      error: input.error || 'Failed to extract entity metadata from response',\n      run_id: final_run_id\n    }\n  }];\n}\n\n// suggest-batch \uc751\ub2f5 \ud30c\uc2f1\nconst suggestions = input.suggestions || [];\nconst suggestion = suggestions.find(s => s.project_id === entity_id) || suggestions[0];\n\nif (!suggestion || suggestion.status !== 'success') {\n  return [{\n    json: {\n      entity_id,\n      entity_type: 'Project',\n      entity_name,\n      phase,\n      success: false,\n      error: suggestion?.error?.message || 'No successful suggestion found',\n      run_id: final_run_id\n    }\n  }];\n}\n\n// suggest-batch\uac00 \uc774\ubbf8 pending\uc744 \uc0dd\uc131\ud588\uc73c\ubbc0\ub85c \uc131\uacf5 \uc751\ub2f5 \ubc18\ud658\nreturn [{\n  json: {\n    entity_id,\n    entity_type: 'Project',\n    entity_name,\n    phase,\n    success: true,\n    run_id: final_run_id,\n    patch: suggestion.apply_patch,\n    scores: suggestion.calculated_fields,\n    reasoning: suggestion.reasoning,\n    pending: true  // mode=\"pending\"\uc73c\ub85c \ud638\ucd9c\ud588\uc73c\ubbc0\ub85c pending \uc0dd\uc131\ub428\n  }\n}];"
                },
                "id": "3b8fd4d3-7012-4447-84cc-8991daf8c6c0",
                "name": "Parse Impact Response",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    -1328,
                    5824
                ],
                "notes": "v5: API \uc751\ub2f5\uc5d0 entity_id, entity_name \uc9c1\uc811 \ud3ec\ud568"
            },
            {
                "parameters": {
                    "jsCode": "// v8.1 (tsk-n8n-22): Evidence Quality Gate\n// \ud14d\uc2a4\ud2b8 \ud488\uc9c8\uc744 \ud310\uc815\ud558\uc5ec strong/medium/weak\uc73c\ub85c \ubd84\ub958\n// weak\uc778 \uacbd\uc6b0 Retro Synth \uacbd\ub85c\ub85c \ub77c\uc6b0\ud305\n// v8.1: \ucca8\ubd80\ud30c\uc77c\uc774 \uc5c6\uc73c\uba74 Retro Synth \uc2a4\ud0b5 (\uae30\ubcf8 Evidence \uacbd\ub85c\ub85c)\n\nconst item = $input.first().json;\nconst text = item.api_request?.retrospective_content || '';\n\n// \ucca8\ubd80\ud30c\uc77c \uc874\uc7ac \uc5ec\ubd80 \ud655\uc778\nconst hasAttachments = item.attachment_stats?.total_extracted > 0;\n\n// \ud488\uc9c8 \ud3c9\uac00 \uc9c0\ud45c\nconst totalChars = text.length;\nconst numericMentions = (text.match(/\\d+[.%]|\\$\\d+|\u20a9\\d+|\\d{1,3}(,\\d{3})+/g) || []).length;\nconst kpiHits = (text.match(/\ub9e4\ucd9c|\uc804\ud658\uc728|DAU|MAU|\ub9ac\ud150\uc158|NPS|ARPU|MRR|ARR|GMV|CVR|CTR|retention|revenue|growth/gi) || []).length;\nconst hasGoalActual = /\ubaa9\ud45c.*?\uc2e4\uc81c|\ub2ec\uc131.*?\ub300\ube44|expected.*?actual|target.*?result/i.test(text);\nconst hasTimeframe = /\\d{4}[-\\/]\\d{2}|\\d+\uc6d4|Q[1-4]|[12]\ubd84\uae30|[\uc0c1\ud558]\ubc18\uae30/.test(text);\n\n// \ud488\uc9c8 \ud310\uc815\nlet verdict = 'weak';\nif (totalChars >= 8000 && numericMentions >= 8 && kpiHits >= 3 && hasTimeframe) {\n  verdict = 'strong';\n} else if (totalChars >= 3000 && numericMentions >= 3 && kpiHits >= 1) {\n  verdict = 'medium';\n}\n\n// Retro Synth \ud544\uc694 \uc5ec\ubd80\n// \ucca8\ubd80\ud30c\uc77c\uc774 \uc788\ub294 \uacbd\uc6b0\uc5d0\ub9cc Retro Synth \uc2e4\ud589 (\ucca8\ubd80\ud30c\uc77c \uc5c6\uc73c\uba74 \uae30\ubcf8 Evidence \uacbd\ub85c)\nconst needsRetroSynth = hasAttachments && verdict === 'weak' && (totalChars < 1500 || numericMentions < 2);\n\nreturn [{\n  json: {\n    ...item,\n    quality_gate: {\n      verdict,\n      needs_retro_synth: needsRetroSynth,\n      has_attachments: hasAttachments,\n      metrics: {\n        total_chars: totalChars,\n        numeric_mentions: numericMentions,\n        kpi_hits: kpiHits,\n        has_goal_actual: hasGoalActual,\n        has_timeframe: hasTimeframe\n      }\n    }\n  }\n}];"
                },
                "id": "10e56ded-25e2-4fdd-a93e-0fe8f0aabc1b",
                "name": "Evidence Quality Gate",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    -1568,
                    5936
                ],
                "notes": "v8.1 (tsk-n8n-22): \ud14d\uc2a4\ud2b8 \ud488\uc9c8 \ud310\uc815. \ucca8\ubd80\ud30c\uc77c \uc5c6\uc73c\uba74 \uae30\ubcf8 Evidence API, \ucca8\ubd80\ud30c\uc77c \uc788\uace0 weak\uc774\uba74 Retro Synth \uacbd\ub85c."
            },
            {
                "parameters": {
                    "rules": {
                        "values": [
                            {
                                "conditions": {
                                    "options": {
                                        "combinator": "and"
                                    },
                                    "conditions": [
                                        {
                                            "leftValue": "={{ $json.quality_gate?.needs_retro_synth }}",
                                            "rightValue": true,
                                            "operator": {
                                                "type": "boolean",
                                                "operation": "equals"
                                            }
                                        }
                                    ]
                                },
                                "renameOutput": true,
                                "outputKey": "Weak"
                            },
                            {
                                "conditions": {
                                    "options": {
                                        "combinator": "and"
                                    },
                                    "conditions": [
                                        {
                                            "leftValue": "={{ $json.quality_gate?.needs_retro_synth }}",
                                            "rightValue": false,
                                            "operator": {
                                                "type": "boolean",
                                                "operation": "equals"
                                            }
                                        }
                                    ]
                                },
                                "renameOutput": true,
                                "outputKey": "Strong"
                            }
                        ]
                    },
                    "options": {
                        "fallbackOutput": "extra"
                    }
                },
                "id": "a6dfb04c-049b-4c22-92c6-9c2f7a007088",
                "name": "Route by Quality",
                "type": "n8n-nodes-base.switch",
                "typeVersion": 3,
                "position": [
                    -1424,
                    5936
                ],
                "notes": "v8 (tsk-n8n-22): Switch \ub178\ub4dc\ub85c \ud488\uc9c8\uc5d0 \ub530\ub77c \ub77c\uc6b0\ud305. weak -> Retro Synth, strong/medium -> \uc9c1\uc811 Evidence API"
            },
            {
                "parameters": {
                    "url": "=https://mcp.sosilab.synology.me/api/projects/{{ $json.entity_id }}/tasks?limit=1",
                    "authentication": "genericCredentialType",
                    "genericAuthType": "httpHeaderAuth",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "Authorization",
                                "value": "Bearer {{ $env.LOOP_API_TOKEN }}"
                            }
                        ]
                    },
                    "options": {
                        "response": {
                            "response": {}
                        }
                    }
                },
                "id": "db20ed4f-301e-4fa2-825b-c8ea382e2bc3",
                "name": "Get First Task",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    -1280,
                    6032
                ],
                "credentials": {
                    "httpHeaderAuth": {
                        "id": "I4hdpx6QgaqnNS7P",
                        "name": "LOOP API Token"
                    }
                },
                "notes": "v8 (tsk-n8n-22): \ud504\ub85c\uc81d\ud2b8\uc758 \uccab \ubc88\uc9f8 Task \uc870\ud68c (Audit Log \uc800\uc7a5\uc6a9)"
            },
            {
                "parameters": {
                    "jsCode": "// v8 (tsk-n8n-22): Retro Synth - LLM\uc73c\ub85c \ud68c\uace0 \ud569\uc131\n// \ucd9c\ucc98 \uae30\ubc18 \uc0ac\uc2e4\ub9cc \ucd94\ucd9c, \ud658\uac01 \ubc29\uc9c0\n\nconst OpenAI = require('openai');\n\nconst item = $input.first().json;\nconst inputItem = item.$input?.item?.json || item;\nconst text = inputItem.api_request?.retrospective_content || '';\nconst projectId = inputItem.entity_id;\nconst projectName = inputItem.entity_name || '';\n\n// \uccab \ubc88\uc9f8 Task \uc815\ubcf4 (audit log \uc800\uc7a5\uc6a9)\nconst tasksResp = item.tasks || [];\nconst firstTask = tasksResp[0] || null;\nconst firstTaskId = firstTask?.entity_id || null;\n\nif (!text || text.length < 100) {\n  // \ud14d\uc2a4\ud2b8\uac00 \ub108\ubb34 \uc9e7\uc73c\uba74 \uc2a4\ud0b5\n  return [{\n    json: {\n      ...inputItem,\n      retro_synth: {\n        skipped: true,\n        reason: 'insufficient_text',\n        first_task_id: firstTaskId\n      }\n    }\n  }];\n}\n\nconst client = new OpenAI({\n  apiKey: $env.OPENAI_API_KEY\n});\n\nconst systemPrompt = `You are a retrospective synthesis expert. Your job is to extract ONLY facts explicitly stated in the provided documents.\n\nCRITICAL RULES - VIOLATION MEANS FAILURE:\n1. NO SPECULATION - If something is not explicitly stated, mark it as \"unknown\"\n2. SOURCE CITATION REQUIRED - Every fact needs:\n   - source_quote: exact text from document\n   - source_id: filename or section identifier\n3. ZERO is better than GUESSING - never invent numbers or outcomes\n4. If no quantitative data exists, return empty facts array\n\nOutput JSON format (no markdown, no code blocks):\n{\n  \"facts\": [\n    {\n      \"statement\": \"string\",\n      \"source_quote\": \"exact quote from document\",\n      \"source_id\": \"filename or section\",\n      \"confidence\": \"high|medium|low\"\n    }\n  ],\n  \"unknowns\": [\n    {\n      \"question\": \"What we don't know\",\n      \"reason\": \"Why it's unknown\"\n    }\n  ],\n  \"metrics_found\": {\n    \"quantitative\": [],\n    \"qualitative\": []\n  }\n}`;\n\nconst userPrompt = `Extract facts from this project retrospective:\n\nProject: ${projectName} (${projectId})\n\n---DOCUMENT START---\n${text.slice(0, 30000)}\n---DOCUMENT END---\n\nRemember:\n- Only include facts with explicit source citations\n- Any number/metric must have source_quote\n- If unsure, add to unknowns instead`;\n\ntry {\n  const response = await client.chat.completions.create({\n    model: 'gpt-4o-mini',\n    temperature: 0.3,\n    max_tokens: 4000,\n    messages: [\n      { role: 'system', content: systemPrompt },\n      { role: 'user', content: userPrompt }\n    ]\n  });\n\n  const content = response.choices[0].message.content;\n  let parsed;\n  \n  try {\n    // JSON \ud30c\uc2f1 \uc2dc\ub3c4\n    const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n    parsed = JSON.parse(jsonMatch ? jsonMatch[0] : content);\n  } catch (parseErr) {\n    parsed = {\n      facts: [],\n      unknowns: [{ question: 'Parsing failed', reason: parseErr.message }],\n      metrics_found: { quantitative: [], qualitative: [] },\n      raw_response: content\n    };\n  }\n\n  // \ud6c4\ucc98\ub9ac: \ucd9c\ucc98 \uc5c6\ub294 facts \ud544\ud130\ub9c1 (\ud658\uac01 \ubc29\uc9c0)\n  const validFacts = (parsed.facts || []).filter(f => \n    f.source_quote && f.source_quote.length > 10 &&\n    f.source_id && f.source_id.length > 0\n  );\n\n  const filteredCount = (parsed.facts || []).length - validFacts.length;\n\n  return [{\n    json: {\n      ...inputItem,\n      retro_synth: {\n        skipped: false,\n        facts: validFacts,\n        unknowns: parsed.unknowns || [],\n        metrics_found: parsed.metrics_found || { quantitative: [], qualitative: [] },\n        hallucination_prevention: {\n          original_facts_count: (parsed.facts || []).length,\n          filtered_count: filteredCount,\n          valid_facts_count: validFacts.length\n        },\n        first_task_id: firstTaskId,\n        model: 'gpt-4o-mini',\n        timestamp: new Date().toISOString()\n      }\n    }\n  }];\n\n} catch (err) {\n  return [{\n    json: {\n      ...inputItem,\n      retro_synth: {\n        skipped: true,\n        reason: 'llm_error',\n        error: err.message,\n        first_task_id: firstTaskId\n      }\n    }\n  }];\n}"
                },
                "id": "70632be2-014a-425a-a985-7bcc03506e6f",
                "name": "Retro Synth",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    -1120,
                    6032
                ],
                "notes": "v8 (tsk-n8n-22): LLM\uc73c\ub85c \ucd9c\ucc98 \uae30\ubc18 \uc0ac\uc2e4 \ucd94\ucd9c. \ud658\uac01 \ubc29\uc9c0\ub97c \uc704\ud574 source_quote \uc5c6\ub294 facts \uc790\ub3d9 \ud544\ud130\ub9c1."
            },
            {
                "parameters": {
                    "jsCode": "// v8 (tsk-n8n-22): Save Retro Synth Audit Logs\n// \ud569\uc131 \uacb0\uacfc\ub97c Task \ucca8\ubd80\ud30c\uc77c\ub85c \uc800\uc7a5\n\nconst item = $input.first().json;\nconst retroSynth = item.retro_synth || {};\nconst firstTaskId = retroSynth.first_task_id;\nconst projectId = item.entity_id;\n\n// \uc2a4\ud0b5\ub41c \uacbd\uc6b0 \ubc14\ub85c \ud1b5\uacfc\nif (retroSynth.skipped || !firstTaskId) {\n  return [{ json: item }];\n}\n\nconst timestamp = new Date().toISOString().replace(/[:.]/g, '-');\nconst API_URL = 'https://mcp.sosilab.synology.me';\nconst TOKEN = $env.LOOP_API_TOKEN;\n\n// Audit Log \ub9c8\ud06c\ub2e4\uc6b4 \uc0dd\uc131\nconst auditLogContent = `# Retro Synth Audit Log\n\n> Project: ${projectId}\n> Task: ${firstTaskId}\n> Generated: ${new Date().toISOString()}\n> Model: ${retroSynth.model || 'gpt-4o-mini'}\n\n## Hallucination Prevention\n\n| Metric | Value |\n|--------|-------|\n| Original Facts | ${retroSynth.hallucination_prevention?.original_facts_count || 0} |\n| Filtered (no source) | ${retroSynth.hallucination_prevention?.filtered_count || 0} |\n| Valid Facts | ${retroSynth.hallucination_prevention?.valid_facts_count || 0} |\n\n## Valid Facts (with source citations)\n\n${(retroSynth.facts || []).map((f, i) => `### Fact ${i + 1}\n- **Statement**: ${f.statement}\n- **Source Quote**: \"${f.source_quote}\"\n- **Source ID**: ${f.source_id}\n- **Confidence**: ${f.confidence}`).join('\\n\\n') || 'No valid facts extracted.'}\n\n## Unknowns\n\n${(retroSynth.unknowns || []).map(u => `- **${u.question}**: ${u.reason}`).join('\\n') || 'None'}\n\n## Metrics Found\n\n### Quantitative\n${(retroSynth.metrics_found?.quantitative || []).join(', ') || 'None'}\n\n### Qualitative\n${(retroSynth.metrics_found?.qualitative || []).join(', ') || 'None'}\n`;\n\n// B Score Trace \ub9c8\ud06c\ub2e4\uc6b4 \uc0dd\uc131\nconst bscoreTraceContent = `# B Score Trace\n\n> Project: ${projectId}\n> Source: Retro Synth (auto-generated)\n> Generated: ${new Date().toISOString()}\n\n## Evidence Quality\n\n- **Source**: AUTO-SYNTH\n- **Provenance**: ${retroSynth.hallucination_prevention?.valid_facts_count > 0 ? 'mixed' : 'auto'}\n- **Measurement Quality**: ${retroSynth.hallucination_prevention?.valid_facts_count >= 3 ? 'medium' : 'low'}\n\n## Source Facts\n\n${(retroSynth.facts || []).map((f, i) => `${i + 1}. ${f.statement} (${f.confidence})`).join('\\n') || 'No facts available.'}\n\n## Trace Path\n\n1. Extract Attachment Texts\n2. Evidence Quality Gate: weak\n3. Retro Synth: ${retroSynth.hallucination_prevention?.valid_facts_count || 0} valid facts\n4. Save Retro Logs (this file)\n5. Call AI Router (Evidence)\n`;\n\nlet auditLogPath = null;\n\ntry {\n  // Audit Log \uc800\uc7a5\n  const auditFilename = `retro_synth_${projectId}_${timestamp}.md`;\n  const auditFormData = new FormData();\n  auditFormData.append('file', new Blob([auditLogContent], { type: 'text/markdown' }), auditFilename);\n\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: `${API_URL}/api/tasks/${firstTaskId}/attachments`,\n    headers: {\n      'Authorization': `Bearer ${TOKEN}`\n    },\n    body: auditFormData\n  });\n\n  auditLogPath = `_attachments/${firstTaskId}/${auditFilename}`;\n\n  // B Score Trace \uc800\uc7a5\n  const traceFilename = `bscore_trace_${projectId}_${timestamp}.md`;\n  const traceFormData = new FormData();\n  traceFormData.append('file', new Blob([bscoreTraceContent], { type: 'text/markdown' }), traceFilename);\n\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: `${API_URL}/api/tasks/${firstTaskId}/attachments`,\n    headers: {\n      'Authorization': `Bearer ${TOKEN}`\n    },\n    body: traceFormData\n  });\n\n} catch (err) {\n  console.log(`Failed to save audit logs: ${err.message}`);\n}\n\n// api_request\uc5d0 audit_log_path \ucd94\uac00\nconst apiRequest = item.api_request || {};\napiRequest.synth_audit_log_path = auditLogPath;\napiRequest.source_workflow = 'retro-synth';\n\n// retro_synth \uacb0\uacfc\ub97c retrospective_content\uc5d0 \ucd94\uac00 (\ubcf4\uac15)\nif (retroSynth.facts && retroSynth.facts.length > 0) {\n  const synthContent = retroSynth.facts.map(f => \n    `[AUTO-SYNTH] ${f.statement} (Source: ${f.source_id})`\n  ).join('\\n');\n  \n  apiRequest.retrospective_content = (apiRequest.retrospective_content || '') + \n    '\\n\\n---\\n\\n## Auto-Synthesized Facts\\n\\n' + synthContent;\n}\n\nreturn [{\n  json: {\n    ...item,\n    api_request: apiRequest,\n    audit_log_path: auditLogPath\n  }\n}];"
                },
                "id": "cc86f355-598d-451e-9fdc-c2b213faa3c4",
                "name": "Save Retro Logs",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    -976,
                    6032
                ],
                "notes": "v8 (tsk-n8n-22): Audit Log\uc640 B Score Trace\ub97c Task \ucca8\ubd80\ud30c\uc77c\ub85c \uc800\uc7a5. synth_audit_log_path\ub97c api_request\uc5d0 \ucd94\uac00."
            },
            {
                "parameters": {
                    "mode": "combine",
                    "combineBy": "combineAll",
                    "options": {}
                },
                "id": "e342befb-6f68-4f87-b403-68522dda1afc",
                "name": "Merge Quality Routes",
                "type": "n8n-nodes-base.merge",
                "typeVersion": 3,
                "position": [
                    -832,
                    5936
                ],
                "notes": "v8 (tsk-n8n-22): Quality Gate\uc758 \ub450 \uacbd\ub85c (strong/weak) \ubcd1\ud569"
            }
        ],
        "connections": {
            "Manual Trigger (Test)": {
                "main": [
                    [
                        {
                            "node": "Set Test Project",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Set Test Project": {
                "main": [
                    [
                        {
                            "node": "Get Single Project",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Get Single Project": {
                "main": [
                    [
                        {
                            "node": "Build Test Item",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Build Test Item": {
                "main": [
                    [
                        {
                            "node": "Route by Phase",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Schedule Trigger": {
                "main": [
                    [
                        {
                            "node": "Get Strategy Context",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Get Strategy Context": {
                "main": [
                    [
                        {
                            "node": "Build Strategy Context",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Build Strategy Context": {
                "main": [
                    [
                        {
                            "node": "Get Tasks",
                            "type": "main",
                            "index": 0
                        },
                        {
                            "node": "Get Projects",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Get Tasks": {
                "main": [
                    [
                        {
                            "node": "Validate Tasks",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Validate Tasks": {
                "main": [
                    [
                        {
                            "node": "Tasks Need LLM?",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Tasks Need LLM?": {
                "main": [
                    [
                        {
                            "node": "Call AI Router (Task Schema)",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Call AI Router (Task Schema)": {
                "main": [
                    [
                        {
                            "node": "Parse Tasks Response",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Get Projects": {
                "main": [
                    [
                        {
                            "node": "Validate Projects",
                            "type": "main",
                            "index": 0
                        },
                        {
                            "node": "Filter Impact Needed",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Validate Projects": {
                "main": [
                    [
                        {
                            "node": "Projects Need LLM?",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Projects Need LLM?": {
                "main": [
                    [
                        {
                            "node": "Call AI Router (Project Schema)",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Call AI Router (Project Schema)": {
                "main": [
                    [
                        {
                            "node": "Parse Projects Response",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Filter Impact Needed": {
                "main": [
                    [
                        {
                            "node": "Impact Need LLM?",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Impact Need LLM?": {
                "main": [
                    [
                        {
                            "node": "Route by Phase",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Route by Phase": {
                "main": [
                    [
                        {
                            "node": "Call AI Router (Expected)",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Extract Attachment Texts",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Extract Attachment Texts": {
                "main": [
                    [
                        {
                            "node": "Evidence Quality Gate",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Evidence Quality Gate": {
                "main": [
                    [
                        {
                            "node": "Route by Quality",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Route by Quality": {
                "main": [
                    [
                        {
                            "node": "Get First Task",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Merge Quality Routes",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Get First Task": {
                "main": [
                    [
                        {
                            "node": "Retro Synth",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Retro Synth": {
                "main": [
                    [
                        {
                            "node": "Save Retro Logs",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Save Retro Logs": {
                "main": [
                    [
                        {
                            "node": "Merge Quality Routes",
                            "type": "main",
                            "index": 1
                        }
                    ]
                ]
            },
            "Merge Quality Routes": {
                "main": [
                    [
                        {
                            "node": "Call AI Router (Evidence)",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Call AI Router (Expected)": {
                "main": [
                    [
                        {
                            "node": "Parse Impact Response",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Call AI Router (Evidence)": {
                "main": [
                    [
                        {
                            "node": "Parse Impact Response",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            }
        },
        "authors": "Eunhyang Kim",
        "name": null,
        "description": null,
        "autosaved": false,
        "workflowPublishHistory": [
            {
                "createdAt": "2026-01-16T07:22:01.995Z",
                "id": 13,
                "workflowId": "H5UsoJ7wtVltkCPf",
                "versionId": "d0ed6fb3-aef1-42b9-8f54-657c5d4ea112",
                "event": "activated",
                "userId": "8ecb4e03-b6d5-4405-926a-392a020cc9e9"
            }
        ]
    }
}
