_build/n8n_workflows/entity_validator_autofiller.json
{
  "name": "LOOP Entity Validator & Auto-filler",
  "nodes": [
    {
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        100,
        500
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      }
    },
    {
      "parameters": {
        "url": "https://mcp.sosilab.synology.me/api/strategy/context",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.LOOP_API_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-strategy-context",
      "name": "Get Strategy Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        500
      ],
      "notes": "한 번의 API 호출로 전체 전략 계층 (NorthStar, MH, Conditions, Tracks, Hypotheses) 조회"
    },
    {
      "parameters": {
        "jsCode": "// Build Strategy Context Text for LLM prompts\n// 전략 계층을 LLM이 이해할 수 있는 텍스트로 변환\n\nconst input = $input.first().json;\n\nconst northstars = input.northstars || [];\nconst metahypotheses = input.metahypotheses || [];\nconst conditions = input.conditions || [];\nconst tracks = input.tracks || [];\nconst hypotheses = input.hypotheses || [];\n\n// Format as human-readable for LLM prompt\nconst strategyContextText = `\n## 전략 계층 (Strategy Hierarchy)\n\n### 10-year Vision (North Star)\n${northstars.map(ns => `- ${ns.entity_id}: ${ns.entity_name}`).join('\\n')}\n\n### Meta Hypotheses (MH1-4)\n${metahypotheses.map(mh => `- ${mh.entity_id}: ${mh.entity_name}\\n  - if_broken: ${mh.if_broken || 'N/A'}`).join('\\n')}\n\n### 3-year Conditions (cond-a ~ cond-e)\n${conditions.map(c => `- ${c.entity_id}: ${c.entity_name}\\n  - unlock: ${c.unlock || 'N/A'}\\n  - if_broken: ${c.if_broken || 'N/A'}`).join('\\n')}\n\n### 12-month Tracks (trk-1 ~ trk-6)\n${tracks.map(t => `- ${t.entity_id}: ${t.entity_name}\\n  - hypothesis: ${t.hypothesis || 'N/A'}\\n  - focus: ${(t.focus || []).join(', ')}\\n  - conditions_3y: ${(t.conditions_3y || []).join(', ')}`).join('\\n')}\n\n### Hypotheses (hyp-*)\n${hypotheses.slice(0, 15).map(h => `- ${h.entity_id}: ${h.entity_name}\\n  - question: ${h.hypothesis_question || h.hypothesis_text || 'N/A'}`).join('\\n')}\n${hypotheses.length > 15 ? `\\n... (${hypotheses.length - 15} more hypotheses)` : ''}\n`;\n\nreturn [{\n  json: {\n    strategyContext: {\n      northstars: northstars,\n      metahypotheses: metahypotheses,\n      conditions: conditions,\n      tracks: tracks,\n      hypotheses: hypotheses\n    },\n    strategyContextText: strategyContextText\n  }\n}];"
      },
      "id": "build-context",
      "name": "Build Strategy Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        500
      ]
    },
    {
      "parameters": {
        "url": "https://mcp.sosilab.synology.me/api/tasks",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.LOOP_API_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-tasks",
      "name": "Get Tasks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Phase 1: Task Schema Validation\n// - done/blocked 상태는 due_date 체크 스킵\n// - missing_due_date, missing_assignee, missing_conditions_3y는 LLM으로\n// - v2: 전략 컨텍스트를 프롬프트에 포함\n\nconst tasksInput = $input.first().json;\nconst contextInput = $('Build Strategy Context').first().json;\n\nconst tasks = tasksInput.tasks || [];\nconst strategyContextText = contextInput.strategyContextText || '';\nconst strategyContext = contextInput.strategyContext || {};\n\nconst results = [];\n\n// Valid values from schema_constants.yaml\nconst VALID_STATUS = ['todo', 'doing', 'hold', 'done', 'blocked'];\nconst VALID_PRIORITY = ['critical', 'high', 'medium', 'low'];\nconst VALID_TYPES = ['dev', 'strategy', 'research', 'ops', null];\nconst VALID_ASSIGNEES = ['김은향', '소상민'];\n\n// LLM이 필요한 이슈 목록\nconst LLM_REQUIRED_ISSUES = ['missing_conditions_3y', 'missing_due_date', 'missing_assignee'];\n\n// LLM 프롬프트 빌더 함수\nfunction buildLlmPrompt(task, issues) {\n  const taskJson = JSON.stringify(task, null, 2);\n  const issueList = Array.isArray(issues) && issues.length > 0 ? issues.join(', ') : 'none';\n  \n  return `You are a LOOP Vault schema expert. Given the following Task entity and strategy context, suggest appropriate values for missing or invalid fields.\n\n${strategyContextText}\n\n---\n\n## Task to Validate\n\\`\\`\\`json\n${taskJson}\n\\`\\`\\`\n\n## Issues Detected\n${issueList}\n\n## Instructions\n\nFor conditions_3y, choose from:\n- cond-a: Product-Market Fit (제품-시장 적합성)\n- cond-b: Revenue Model (수익 모델)\n- cond-c: Scalability (확장성)\n- cond-d: Team (팀)\n- cond-e: Tech/Infrastructure (기술/인프라)\n\nFor assignee, choose from: ${VALID_ASSIGNEES.join(', ')}\n\nFor due, suggest a reasonable date in YYYY-MM-DD format based on task complexity and current date (today is ${new Date().toISOString().split('T')[0]}).\n\nIMPORTANT: Analyze the task name (entity_name), notes, project_id, and tags to understand the task context. Match conditions_3y to the strategic area that this task contributes to.\n\nRespond with ONLY a valid JSON object (no markdown, no code blocks) with these fields:\n- suggested_fields: object with field names and suggested values\n- reasoning: object with field names and brief Korean explanation for each suggestion`;\n}\n\nfor (const task of tasks) {\n  const issues = [];\n  const suggestions = {};\n  const reasoning = {};\n\n  // Required field checks\n  if (!task.entity_id) {\n    issues.push('missing_entity_id');\n  }\n  if (!task.entity_name) {\n    issues.push('missing_entity_name');\n  }\n  if (!task.project_id) {\n    issues.push('missing_project_id');\n  }\n\n  // Status validation\n  if (task.status && !VALID_STATUS.includes(task.status)) {\n    issues.push('invalid_status');\n    suggestions.status = 'todo';\n    reasoning.status = `Invalid status \"${task.status}\". Defaulting to \"todo\".`;\n  }\n\n  // Priority validation\n  if (task.priority && !VALID_PRIORITY.includes(task.priority)) {\n    issues.push('invalid_priority');\n    suggestions.priority = 'medium';\n    reasoning.priority = `Invalid priority \"${task.priority}\". Defaulting to \"medium\".`;\n  }\n\n  // Type validation\n  if (task.type && !VALID_TYPES.includes(task.type)) {\n    issues.push('invalid_type');\n    suggestions.type = null;\n    reasoning.type = `Invalid type \"${task.type}\". Setting to null.`;\n  }\n\n  // conditions_3y validation (required for Tasks)\n  if (!task.conditions_3y || task.conditions_3y.length === 0) {\n    issues.push('missing_conditions_3y');\n    reasoning.conditions_3y = 'Task는 3Y Condition 연결 필수. LLM 추론 필요.';\n  }\n\n  // assignee check\n  if (!task.assignee) {\n    issues.push('missing_assignee');\n    reasoning.assignee = 'assignee 미지정. 맥락 기반 추론 필요.';\n  }\n\n  // due date check - todo/doing 상태만 체크 (done/blocked는 스킵)\n  const needsDueDate = ['todo', 'doing'].includes(task.status);\n  if (needsDueDate && !task.due && !task.due_date) {\n    issues.push('missing_due_date');\n    reasoning.due = 'due_date 미지정. 맥락 기반 추론 필요.';\n  }\n\n  // 이슈가 있는 경우만 결과에 추가\n  if (issues.length > 0) {\n    // LLM 필요 여부 판단\n    const needsLlm = issues.some(issue => LLM_REQUIRED_ISSUES.includes(issue));\n    \n    // deterministic_fixes가 비어있고 LLM도 필요없으면 스킵\n    const hasDeterministicFixes = Object.keys(suggestions).length > 0;\n    if (!needsLlm && !hasDeterministicFixes) {\n      continue; // 의미없는 pending 생성 방지\n    }\n\n    const result = {\n      entity_id: task.entity_id,\n      entity_name: task.entity_name,\n      entity_type: 'Task',\n      phase: 'task_schema',\n      issues: issues,\n      deterministic_fixes: suggestions,\n      needs_llm: needsLlm,\n      has_deterministic_fixes: hasDeterministicFixes,\n      reasoning: reasoning,\n      original_entity: task\n    };\n    \n    // LLM이 필요한 경우에만 프롬프트 생성\n    if (needsLlm) {\n      result.llm_prompt = buildLlmPrompt(task, issues);\n    }\n    \n    results.push(result);\n  }\n}\n\nreturn results.map(r => ({ json: r }));"
      },
      "id": "validate-tasks",
      "name": "Validate Tasks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.needs_llm === true && !!$json.llm_prompt }}",
              "value2": true
            }
          ]
        }
      },
      "id": "tasks-need-llm",
      "name": "Tasks Need LLM?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://mcp.sosilab.synology.me/api/ai/infer/task_schema",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.LOOP_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"task_id\": $json.entity_id, \"issues\": $json.issues, \"mode\": \"pending\", \"provider\": \"openai\", \"actor\": \"n8n\", \"original_entity\": $json.original_entity, \"strategy_context\": $('Build Strategy Context').first().json.strategyContext, \"create_pending\": true, \"schema_version\": \"5.3\" } }}",
        "options": {
          "response": {
            "response": {
              "includeInputData": true
            }
          }
        }
      },
      "id": "call-ai-router-tasks",
      "name": "Call AI Router (Task Schema)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        200
      ],
      "notes": "v5: AI Router 통합 - pending 자동 생성, audit 로그 통합"
    },
    {
      "parameters": {
        "jsCode": "// Parse AI Router response for Tasks (v5)\n// AI Router 응답: { ok, run_id, patch, suggested_fields, reasoning, warnings, pending, audit_ref }\n// pending이 이미 생성되었으므로 별도 Create Pending 노드 불필요\n\nconst input = $input.first().json;\n\n// v5: includeInputData로 원본 입력이 포함됨\nconst inputData = input.$input?.item?.json || input.$input?.items?.[0]?.json || {};\n\n// entity 정보 추출 (여러 fallback 경로)\nconst entity_id = input.entity_id || inputData.entity_id || null;\nconst entity_name = input.entity_name || inputData.entity_name || 'unknown';\nconst phase = 'task_schema';\n\n// 에러 처리\nif (!input.ok) {\n  return [{\n    json: {\n      entity_id: entity_id || 'unknown',\n      entity_type: 'Task',\n      entity_name,\n      phase,\n      success: false,\n      error: input.error || 'AI Router call failed',\n      run_id: input.run_id || 'unknown'\n    }\n  }];\n}\n\n// AI Router가 이미 pending을 생성했으므로 성공 응답 반환\nreturn [{\n  json: {\n    entity_id,\n    entity_type: 'Task',\n    entity_name,\n    phase,\n    success: true,\n    run_id: input.run_id,\n    suggested_fields: input.suggested_fields || {},\n    reasoning: input.reasoning || {},\n    warnings: input.warnings || [],\n    pending: input.pending,\n    audit_ref: input.audit_ref\n  }\n}];"
      },
      "id": "parse-tasks-response",
      "name": "Parse Tasks Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        200
      ],
      "notes": "v5: AI Router 응답 파싱 (pending 이미 생성됨)"
    },
    {
      "parameters": {
        "url": "https://mcp.sosilab.synology.me/api/projects",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.LOOP_API_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-projects",
      "name": "Get Projects",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        700
      ]
    },
    {
      "parameters": {
        "jsCode": "// Phase 2: Project Schema Validation (v5.2)\n// - owner, parent_id (Track), conditions_3y 필수\n// - primary_hypothesis_id, validates, condition_contributes, track_contributes LLM 추론\n// - validated_by는 derived 필드 → 제안하지 않음\n// - v3: Schema v5.2 반영 (prj-impact-schema-v2)\n\nconst projectsInput = $input.first().json;\nconst contextInput = $('Build Strategy Context').first().json;\n\nconst projects = projectsInput.projects || [];\nconst strategyContextText = contextInput.strategyContextText || '';\nconst strategyContext = contextInput.strategyContext || {};\n\nconst results = [];\n\n// Valid values\nconst VALID_STATUS = ['planning', 'active', 'paused', 'done', 'cancelled'];\nconst VALID_PRIORITY = ['critical', 'high', 'medium', 'low'];\nconst VALID_OWNERS = ['김은향', '소상민'];\nconst VALID_CONDITION_IDS = ['cond-a', 'cond-b', 'cond-c', 'cond-d', 'cond-e'];\nconst VALID_TRACK_IDS = ['trk-1', 'trk-2', 'trk-3', 'trk-4', 'trk-5', 'trk-6'];\n\n// LLM이 필요한 이슈 목록 (v5.2: hypothesis_id → primary_hypothesis_id, validates 추가)\nconst LLM_REQUIRED_ISSUES = [\n  'missing_owner', 'missing_parent_id', 'missing_conditions_3y',\n  'missing_primary_hypothesis_id', 'missing_validates',\n  'missing_condition_contributes', 'missing_track_contributes'\n];\n\n// LLM 프롬프트 빌더 함수 (v5.2)\nfunction buildLlmPrompt(project, issues) {\n  const projectJson = JSON.stringify(project, null, 2);\n  const issueList = Array.isArray(issues) && issues.length > 0 ? issues.join(', ') : 'none';\n  \n  // Hypothesis 목록 (LLM이 선택할 수 있도록)\n  const hypothesesList = (strategyContext.hypotheses || []).map(h => \n    `- ${h.entity_id}: ${h.entity_name}`\n  ).join('\\n');\n  \n  return `You are a LOOP Vault schema expert (Schema v5.2). Given the following Project entity and strategy context, suggest appropriate values for missing or invalid fields.\n\n${strategyContextText}\n\n---\n\n## Project to Validate\n\\`\\`\\`json\n${projectJson}\n\\`\\`\\`\n\n## Issues Detected\n${issueList}\n\n## Instructions\n\n### For owner\nChoose from: ${VALID_OWNERS.join(', ')}\n\n### For parent_id (Track)\nChoose the primary Track this project belongs to:\n${VALID_TRACK_IDS.map(t => `- ${t}`).join('\\n')}\n\n### For conditions_3y\nList of 3Y Conditions this project contributes to (array):\n- cond-a: Product-Market Fit (제품-시장 적합성)\n- cond-b: Revenue Model (수익 모델)\n- cond-c: Scalability (확장성)\n- cond-d: Team (팀)\n- cond-e: Tech/Infrastructure (기술/인프라)\n\n### For validates (optional but recommended) - v5.2\nArray of Hypothesis IDs this project validates.\nSelect from 60_Hypotheses:\n${hypothesesList}\nExample: [\"hyp-2-01\", \"hyp-2-03\"]\nIf no hypotheses to validate, set to empty array [].\n\n### For primary_hypothesis_id (optional) - v5.2\nThe MAIN hypothesis this project was created to validate.\nMust be one of the values in validates array, or null.\n⚠️ DEPRECATED: hypothesis_id - Use primary_hypothesis_id instead.\n\n### For condition_contributes (required) - v5.1\nArray of Condition contribution weights. Example:\n[\n  { \"to\": \"cond-a\", \"weight\": 0.6, \"description\": \"PMF 검증에 60% 기여\" },\n  { \"to\": \"cond-e\", \"weight\": 0.4, \"description\": \"기술 인프라 구축에 40% 기여\" }\n]\n- Weights should sum to ≤ 1.0\n- Choose conditions based on what this project actually contributes to\n\n### For track_contributes (optional) - v5.1\nIf this project contributes to secondary Tracks (beyond parent_id), specify:\n[\n  { \"to\": \"trk-2\", \"weight\": 0.3, \"description\": \"데이터 파이프라인에 부분 기여\" }\n]\n- Only include if the project genuinely contributes to other Tracks\n- Leave empty array [] if only primary Track\n\n### ⛔ NEVER suggest these derived fields (v5.2):\n- validated_by: computed from Evidence (역인덱스 계산)\n- realized_sum: computed from child Projects (하위 집계)\n\nIMPORTANT: Analyze the project name (entity_name), notes, and context to understand what this project is about. Match strategic elements based on actual project purpose.\n\nRespond with ONLY a valid JSON object (no markdown, no code blocks) with these fields:\n- suggested_fields: object with field names and suggested values\n- reasoning: object with field names and brief Korean explanation for each suggestion`;\n}\n\nfor (const project of projects) {\n  const issues = [];\n  const suggestions = {};\n  const reasoning = {};\n\n  // Required field checks\n  if (!project.entity_id) {\n    issues.push('missing_entity_id');\n  }\n  if (!project.entity_name) {\n    issues.push('missing_entity_name');\n  }\n\n  // Status validation\n  if (project.status && !VALID_STATUS.includes(project.status)) {\n    issues.push('invalid_status');\n    suggestions.status = 'planning';\n    reasoning.status = `Invalid status \"${project.status}\". Defaulting to \"planning\".`;\n  }\n\n  // owner check\n  if (!project.owner) {\n    issues.push('missing_owner');\n    reasoning.owner = 'owner 미지정. 맥락 기반 추론 필요.';\n  }\n\n  // parent_id check (Track)\n  if (!project.parent_id) {\n    issues.push('missing_parent_id');\n    reasoning.parent_id = 'parent_id (Track) 미지정. 맥락 기반 추론 필요.';\n  }\n\n  // conditions_3y validation\n  if (!project.conditions_3y || project.conditions_3y.length === 0) {\n    issues.push('missing_conditions_3y');\n    reasoning.conditions_3y = 'Project는 3Y Condition 연결 필수. LLM 추론 필요.';\n  }\n\n  // validates check (v5.2 - optional but recommended)\n  if (!project.validates || project.validates.length === 0) {\n    issues.push('missing_validates');\n    reasoning.validates = 'validates 미지정. 검증하려는 가설이 있다면 연결 권장.';\n  }\n\n  // primary_hypothesis_id check (v5.2 - replaces hypothesis_id)\n  if (!project.primary_hypothesis_id && !project.hypothesis_id) {\n    issues.push('missing_primary_hypothesis_id');\n    reasoning.primary_hypothesis_id = 'primary_hypothesis_id 미지정. validates 중 핵심 가설 1개 연결 권장.';\n  }\n\n  // condition_contributes check (required for impact calculation)\n  if (!project.condition_contributes || project.condition_contributes.length === 0) {\n    issues.push('missing_condition_contributes');\n    reasoning.condition_contributes = 'condition_contributes 미지정. 각 Condition에 대한 기여도 필요.';\n  }\n\n  // 이슈가 있는 경우만 결과에 추가\n  if (issues.length > 0) {\n    const needsLlm = issues.some(issue => LLM_REQUIRED_ISSUES.includes(issue));\n    const hasDeterministicFixes = Object.keys(suggestions).length > 0;\n    \n    if (!needsLlm && !hasDeterministicFixes) {\n      continue;\n    }\n\n    const result = {\n      entity_id: project.entity_id,\n      entity_name: project.entity_name,\n      entity_type: 'Project',\n      phase: 'project_schema',\n      issues: issues,\n      deterministic_fixes: suggestions,\n      needs_llm: needsLlm,\n      has_deterministic_fixes: hasDeterministicFixes,\n      reasoning: reasoning,\n      original_entity: project\n    };\n    \n    if (needsLlm) {\n      result.llm_prompt = buildLlmPrompt(project, issues);\n    }\n    \n    results.push(result);\n  }\n}\n\nreturn results.map(r => ({ json: r }));"
      },
      "id": "validate-projects",
      "name": "Validate Projects",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        700
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.needs_llm === true && !!$json.llm_prompt }}",
              "value2": true
            }
          ]
        }
      },
      "id": "projects-need-llm",
      "name": "Projects Need LLM?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1100,
        700
      ]
    },
    {
      "parameters": {
        "url": "https://mcp.sosilab.synology.me/api/ai/infer/project_schema",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.LOOP_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"project_id\": $json.entity_id, \"issues\": $json.issues, \"mode\": \"pending\", \"provider\": \"openai\", \"actor\": \"n8n\", \"original_entity\": $json.original_entity, \"strategy_context\": $('Build Strategy Context').first().json.strategyContext, \"create_pending\": true, \"schema_version\": \"5.3\" } }}",
        "options": {
          "response": {
            "response": {
              "includeInputData": true
            }
          }
        }
      },
      "id": "call-ai-router-projects",
      "name": "Call AI Router (Project Schema)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        600
      ],
      "notes": "v5: AI Router 통합 - pending 자동 생성, audit 로그 통합"
    },
    {
      "parameters": {
        "jsCode": "// Parse AI Router response for Projects (v5)\n// AI Router 응답: { ok, run_id, patch, suggested_fields, reasoning, warnings, pending, audit_ref }\n// pending이 이미 생성되었으므로 별도 Create Pending 노드 불필요\n\nconst input = $input.first().json;\n\n// v5: includeInputData로 원본 입력이 포함됨\nconst inputData = input.$input?.item?.json || input.$input?.items?.[0]?.json || {};\n\n// entity 정보 추출 (여러 fallback 경로)\nconst entity_id = input.entity_id || inputData.entity_id || null;\nconst entity_name = input.entity_name || inputData.entity_name || 'unknown';\nconst phase = 'project_schema';\n\n// 에러 처리\nif (!input.ok) {\n  return [{\n    json: {\n      entity_id: entity_id || 'unknown',\n      entity_type: 'Project',\n      entity_name,\n      phase,\n      success: false,\n      error: input.error || 'AI Router call failed',\n      run_id: input.run_id || 'unknown'\n    }\n  }];\n}\n\n// AI Router가 이미 pending을 생성했으므로 성공 응답 반환\nreturn [{\n  json: {\n    entity_id,\n    entity_type: 'Project',\n    entity_name,\n    phase,\n    success: true,\n    run_id: input.run_id,\n    suggested_fields: input.suggested_fields || {},\n    reasoning: input.reasoning || {},\n    warnings: input.warnings || [],\n    pending: input.pending,\n    audit_ref: input.audit_ref\n  }\n}];"
      },
      "id": "parse-projects-response",
      "name": "Parse Projects Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        600
      ],
      "notes": "v5: AI Router 응답 파싱 (pending 이미 생성됨)"
    },
    {
      "parameters": {
        "jsCode": "// Phase 3: Project Impact Auto-fill (v4.1 - run_id + meta_* 추가)\n// Filter projects that need expected_impact OR realized_impact\n// v4: OpenAI 직접 호출 대신 ai router API 사용\n// v4.1: run_id 생성 + meta_* 키 추가 (HTTP includeInputData 지원)\n//   - /api/ai/infer/project_impact (Expected Impact)\n//   - /api/ai/infer/evidence (Realized Impact)\n// 장점: 일관된 프롬프트, audit 로그, pending 자동 생성\n\nconst projectsInput = $('Get Projects').first().json;\nconst projects = projectsInput.projects || [];\n\nconst results = [];\n\n// run_id 생성 함수 (각 요청마다 고유 ID)\nfunction generateRunId() {\n  const iso = new Date().toISOString();\n  const datePart = iso.slice(0, 10).replace(/-/g, '');\n  const timePart = iso.slice(11, 19).replace(/:/g, '');\n  const rand = Math.random().toString(36).slice(2, 8);\n  return `run-${datePart}-${timePart}-${rand}`;\n}\n\nfor (const project of projects) {\n  // Check if expected_impact is missing or incomplete\n  const needsExpectedImpact = !project.expected_impact || \n    !project.expected_impact.tier ||\n    project.expected_impact.tier === null ||\n    project.tier === null;\n  \n  // Check if realized_impact is needed (done/cancelled projects)\n  const isCompleted = ['done', 'cancelled'].includes(project.status);\n  const needsRealizedImpact = isCompleted && (!project.realized_impact || !project.realized_impact.verdict);\n  \n  if (needsExpectedImpact) {\n    const run_id = generateRunId();\n    results.push({\n      json: {\n        // v4.1: meta_* 키 (HTTP includeInputData로 응답에 포함됨)\n        meta_entity_id: project.entity_id,\n        meta_entity_name: project.entity_name,\n        meta_phase: 'expected_impact',\n        meta_run_id: run_id,\n        // 기존 필드 유지 (다운스트림 노드 호환)\n        entity_id: project.entity_id,\n        entity_name: project.entity_name,\n        entity_type: 'Project',\n        phase: 'expected_impact',\n        needs_llm: true,\n        // v4: ai router용 요청 데이터\n        api_request: {\n          project_id: project.entity_id,\n          run_id: run_id,\n          mode: 'pending',\n          provider: 'openai',\n          actor: 'n8n',\n          create_pending: true,\n          schema_version: '5.3'\n        },\n        original_entity: project\n      }\n    });\n  }\n  \n  if (needsRealizedImpact) {\n    const run_id = generateRunId();\n    results.push({\n      json: {\n        // v4.1: meta_* 키 (HTTP includeInputData로 응답에 포함됨)\n        meta_entity_id: project.entity_id,\n        meta_entity_name: project.entity_name,\n        meta_phase: 'realized_impact',\n        meta_run_id: run_id,\n        // 기존 필드 유지 (다운스트림 노드 호환)\n        entity_id: project.entity_id,\n        entity_name: project.entity_name,\n        entity_type: 'Project',\n        phase: 'realized_impact',\n        needs_llm: true,\n        // v4: ai router용 요청 데이터 (Evidence 엔드포인트)\n        api_request: {\n          project_id: project.entity_id,\n          run_id: run_id,\n          mode: 'pending',\n          provider: 'openai',\n          actor: 'n8n',\n          create_pending: true,\n          schema_version: '5.3',\n          retrospective_content: null,\n          actual_result: null\n        },\n        original_entity: project\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "id": "filter-impact-needed",
      "name": "Filter Impact Needed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        1000
      ],
      "notes": "v4.1: run_id 생성 + meta_* 키 추가 (HTTP includeInputData 지원)"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.needs_llm === true && !!$json.api_request }}",
              "value2": true
            }
          ]
        }
      },
      "id": "impact-need-llm",
      "name": "Impact Need LLM?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1050,
        1000
      ]
    },
    {
      "parameters": {
        "jsCode": "// Route to correct ai router endpoint based on phase\n// v6: n8n 2.x 호환 - filter 방식\n\nconst expected = $input.all().filter(item => item.json.phase === 'expected_impact');\nconst realized = $input.all().filter(item => item.json.phase === 'realized_impact');\n\nreturn [expected, realized];",
        "mode": "runOnceForAllItems",
        "numberOfOutputs": 2
      },
      "id": "route-by-phase",
      "name": "Route by Phase",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        1000
      ],
      "notes": "v4.1: mode=runOnceForAllItems, numberOfOutputs=2 추가"
    },
    {
      "parameters": {
        "url": "https://mcp.sosilab.synology.me/api/ai/infer/project_impact",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.LOOP_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.api_request }}",
        "options": {
          "response": {
            "response": {
              "includeInputData": true
            }
          }
        }
      },
      "id": "call-ai-router-expected",
      "name": "Call AI Router (Expected)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        900
      ],
      "notes": "v4: /api/ai/infer/project_impact - Expected Impact (A Score)"
    },
    {
      "parameters": {
        "url": "https://mcp.sosilab.synology.me/api/ai/infer/evidence",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.LOOP_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.api_request }}",
        "options": {
          "response": {
            "response": {
              "includeInputData": true
            }
          }
        }
      },
      "id": "call-ai-router-evidence",
      "name": "Call AI Router (Evidence)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        1100
      ],
      "notes": "v4: /api/ai/infer/evidence - Realized Impact (B Score)"
    },
    {
      "parameters": {
        "jsCode": "// Parse ai router response (v4.1 - meta_* 기반 파싱)\n// v4.1: HTTP includeInputData로 원본 입력이 $input.item.json에 포함됨\n// ai router 응답: { ok, run_id, patch, derived_autofill, scores, pending, ... }\n// pending이 이미 생성되었으므로 별도 Create Pending 노드 불필요\n\nconst input = $input.first().json;\n\n// v4.1: includeInputData는 원본을 $input.item.json 또는 $input.items[0].json에 저장\n// 여러 경로를 시도하여 안정적으로 추출\nconst inputData = input.$input?.item?.json || input.$input?.items?.[0]?.json || {};\n\n// meta_* 키 추출 (여러 fallback 경로)\nconst entity_id = input.meta_entity_id || inputData.meta_entity_id || inputData.entity_id || null;\nconst entity_name = input.meta_entity_name || inputData.meta_entity_name || inputData.entity_name || 'unknown';\nconst phase = input.meta_phase || inputData.meta_phase || inputData.phase || 'unknown';\nconst meta_run_id = input.meta_run_id || inputData.meta_run_id || inputData.api_request?.run_id || null;\n\n// run_id: meta에서 가져오거나 API 응답에서 가져옴\nconst final_run_id = meta_run_id || input.run_id || 'unknown';\n\n// 에러 처리: entity_id가 없는 경우\nif (!entity_id) {\n  return [{\n    json: {\n      entity_id: 'unknown',\n      entity_type: 'Project',\n      entity_name: entity_name,\n      phase: phase,\n      success: false,\n      error: input.error || 'Failed to extract entity metadata from response',\n      run_id: final_run_id\n    }\n  }];\n}\n\nif (!input.ok) {\n  return [{\n    json: {\n      entity_id,\n      entity_type: 'Project',\n      entity_name,\n      phase,\n      success: false,\n      error: input.error || 'AI router call failed',\n      run_id: final_run_id\n    }\n  }];\n}\n\n// ai router가 이미 pending을 생성했으므로 성공 응답 반환\nreturn [{\n  json: {\n    entity_id,\n    entity_type: 'Project',\n    entity_name,\n    phase,\n    success: true,\n    run_id: final_run_id,\n    patch: input.patch,\n    scores: input.scores,\n    pending: input.pending,\n    audit_ref: input.audit_ref\n  }\n}];"
      },
      "id": "parse-impact-response",
      "name": "Parse Impact Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        1000
      ],
      "notes": "v4.1: meta_* 기반 파싱 (includeInputData 활용)"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Strategy Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Strategy Context": {
      "main": [
        [
          {
            "node": "Build Strategy Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Strategy Context": {
      "main": [
        [
          {
            "node": "Get Tasks",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Projects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Tasks": {
      "main": [
        [
          {
            "node": "Validate Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Tasks": {
      "main": [
        [
          {
            "node": "Tasks Need LLM?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tasks Need LLM?": {
      "main": [
        [
          {
            "node": "Call AI Router (Task Schema)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Call AI Router (Task Schema)": {
      "main": [
        [
          {
            "node": "Parse Tasks Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Tasks Response": {
      "main": [
        []
      ]
    },
    "Get Projects": {
      "main": [
        [
          {
            "node": "Validate Projects",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter Impact Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Projects": {
      "main": [
        [
          {
            "node": "Projects Need LLM?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Projects Need LLM?": {
      "main": [
        [
          {
            "node": "Call AI Router (Project Schema)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Call AI Router (Project Schema)": {
      "main": [
        [
          {
            "node": "Parse Projects Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Projects Response": {
      "main": [
        []
      ]
    },
    "Filter Impact Needed": {
      "main": [
        [
          {
            "node": "Impact Need LLM?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Impact Need LLM?": {
      "main": [
        [
          {
            "node": "Route by Phase",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Route by Phase": {
      "main": [
        [
          {
            "node": "Call AI Router (Expected)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call AI Router (Evidence)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call AI Router (Expected)": {
      "main": [
        [
          {
            "node": "Parse Impact Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call AI Router (Evidence)": {
      "main": [
        [
          {
            "node": "Parse Impact Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Impact Response": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateId": "entity-validator-autofiller-v5",
    "created": "2025-12-27",
    "updated": "2025-12-29",
    "schemaVersion": "5.3",
    "description": "Unified workflow for LOOP vault entity validation and auto-fill. v5: 전체 Phase AI Router 통합 완료. Phase 1 (Task Schema): /api/ai/infer/task_schema, Phase 2 (Project Schema): /api/ai/infer/project_schema, Phase 3 (Impact): /api/ai/infer/project_impact, /api/ai/infer/evidence. 모든 LLM 호출이 중앙 API를 통해 audit/decision 로그 자동 생성. Create Pending 노드 제거 (AI Router가 pending 자동 생성)."
  }
}