_build/n8n_workflows/workflow_c_impact_rebuild.json
{
  "name": "Workflow C - Impact Rebuild on Evidence Approve",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger (15분)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [260, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://mcp.sosilab.synology.me/api/audit/decisions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.LOOP_API_TOKEN }}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "decision",
              "value": "approve"
            },
            {
              "name": "entity_type",
              "value": "Evidence"
            },
            {
              "name": "after",
              "value": "={{ $workflow.staticData?.cursor || '' }}"
            },
            {
              "name": "limit",
              "value": "100"
            }
          ]
        },
        "options": {}
      },
      "id": "get-decisions",
      "name": "GET Evidence Approvals",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-has-approvals",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-approvals",
      "name": "Has New Approvals?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mcp.sosilab.synology.me/api/build/impact",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.LOOP_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"async_mode\": true } }}",
        "options": {}
      },
      "id": "trigger-build",
      "name": "POST Build Impact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 200]
    },
    {
      "parameters": {
        "jsCode": "// Workflow C - tsk-n8n-12: Impact Rebuild on Evidence Approve\n// \n// 빌드 완료 후 cursor 업데이트\n// latest_timestamp를 다음 폴링의 after 파라미터로 사용\n\nconst decisionsResponse = $('GET Evidence Approvals').first().json;\nconst buildResult = $input.first().json;\n\n// cursor 업데이트\nconst newCursor = decisionsResponse.latest_timestamp || '';\nconst newDecisionId = decisionsResponse.latest_decision_id || '';\n\n// staticData 업데이트\n$workflow.staticData = $workflow.staticData || {};\n$workflow.staticData.cursor = newCursor;\n$workflow.staticData.last_decision_id = newDecisionId;\n\nreturn [{\n  json: {\n    action: 'build_triggered',\n    cursor_updated: newCursor,\n    last_decision_id: newDecisionId,\n    build_id: buildResult.build_id,\n    build_status: buildResult.status,\n    triggered_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "update-cursor",
      "name": "Update Cursor (staticData)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1140, 200]
    },
    {
      "parameters": {
        "jsCode": "// No new approvals - cursor 유지 또는 갱신\n// latest_timestamp가 있으면 갱신 (빈 응답이어도 timestamp는 있을 수 있음)\n\nconst input = $input.first().json;\n\nconst newCursor = input.latest_timestamp || '';\n\nif (newCursor) {\n  $workflow.staticData = $workflow.staticData || {};\n  $workflow.staticData.cursor = newCursor;\n}\n\nreturn [{\n  json: {\n    action: 'no_new_approvals',\n    cursor: $workflow.staticData?.cursor || '',\n    last_check: new Date().toISOString()\n  }\n}];"
      },
      "id": "keep-cursor",
      "name": "Keep Cursor (No Change)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 400]
    }
  ],
  "connections": {
    "Schedule Trigger (15분)": {
      "main": [
        [
          {
            "node": "GET Evidence Approvals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Evidence Approvals": {
      "main": [
        [
          {
            "node": "Has New Approvals?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has New Approvals?": {
      "main": [
        [
          {
            "node": "POST Build Impact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Keep Cursor (No Change)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Build Impact": {
      "main": [
        [
          {
            "node": "Update Cursor (staticData)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "cursor": "",
    "last_decision_id": ""
  },
  "meta": {
    "templateId": "workflow-c-impact-rebuild-v1",
    "created": "2026-01-01",
    "updated": "2026-01-01",
    "schemaVersion": "5.3",
    "description": "tsk-n8n-12: Evidence 승인 감지 → build_impact 자동 트리거. 15분마다 /api/audit/decisions 폴링, 새 Evidence approve 발견 시 /api/build/impact 호출. staticData로 cursor 영속화하여 중복 실행 방지. [환경변수] LOOP_API_TOKEN=loop_2024_kanban_secret"
  },
  "tags": [
    {
      "name": "tsk-n8n-12",
      "createdAt": "2026-01-01T00:00:00.000Z",
      "updatedAt": "2026-01-01T00:00:00.000Z"
    },
    {
      "name": "Workflow C",
      "createdAt": "2026-01-01T00:00:00.000Z",
      "updatedAt": "2026-01-01T00:00:00.000Z"
    },
    {
      "name": "Impact Rebuild",
      "createdAt": "2026-01-01T00:00:00.000Z",
      "updatedAt": "2026-01-01T00:00:00.000Z"
    }
  ]
}
