_build/n8n_workflows/youtube_weekly_round_creator.json
{
  "name": "youtube-weekly-round-creator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 5"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every Friday 09:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [400, 200]
    },
    {
      "parameters": {
        "formTitle": "YouTube Weekly Round 생성",
        "formDescription": "특정 주차의 라운드를 수동 생성합니다. 비워두면 현재 주차로 생성.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Year",
              "fieldType": "number",
              "placeholder": "2026"
            },
            {
              "fieldLabel": "Week",
              "fieldType": "text",
              "placeholder": "W01"
            }
          ]
        },
        "options": {}
      },
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [400, 400],
      "webhookId": "youtube-weekly-manual"
    },
    {
      "parameters": {
        "jsCode": "// Prepare request body from trigger input\nconst item = $input.first();\nconst json = item?.json || {};\n\nconst body = {};\n\n// From Manual Trigger form\nif (json.Year) body.year = parseInt(json.Year);\nif (json.Week) body.week = json.Week.toUpperCase();\n\n// From Schedule Trigger (no input = use current week)\nreturn [{ json: { body: Object.keys(body).length > 0 ? body : null } }];"
      },
      "id": "prepare-body",
      "name": "Prepare Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mcp.sosilab.synology.me/api/youtube-weekly/create-round",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body ? JSON.stringify($json.body) : '{}' }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "http-create-round",
      "name": "Create Round API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-success",
              "leftValue": "={{ $json.success === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-success",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "jsCode": "// Success notification message with robust null checks\nconst item = $input.first();\n\n// Guard: Check if input exists\nif (!item || !item.json) {\n  return [{ json: { \n    message: '✅ YouTube Weekly 라운드 생성 완료 (상세 정보 없음)',\n    success: true,\n    data: null\n  }}];\n}\n\nconst data = item.json;\n\n// Guard: Check if data is valid object\nif (!data || typeof data !== 'object') {\n  return [{ json: { \n    message: '✅ YouTube Weekly 라운드 생성 완료 (응답 파싱 실패)',\n    success: true,\n    data: null\n  }}];\n}\n\n// Safe array handling for task_ids\nlet taskIdsList = '';\nif (data.task_ids) {\n  const taskIds = Array.isArray(data.task_ids) \n    ? data.task_ids \n    : [data.task_ids].filter(Boolean);\n  taskIdsList = taskIds.length > 0 \n    ? '\\n\\nTask IDs:\\n' + taskIds.map(id => `- ${id}`).join('\\n')\n    : '';\n}\n\nconst message = `✅ YouTube ${data.cycle || '(Unknown)'} 라운드 생성됨!\\n\\n📁 Project: ${data.project_id || '(Unknown)'}\\n📋 Tasks: ${data.tasks_created || 0}개\\n📅 시작일: ${data.start_date || '(Unknown)'}${taskIdsList}`;\n\nreturn [{ json: { message, success: true, data } }];"
      },
      "id": "code-success-msg",
      "name": "Success Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 200]
    },
    {
      "parameters": {
        "jsCode": "// Failure notification message with error handling\nconst item = $input.first();\n\n// Guard: Check if input exists\nif (!item || !item.json) {\n  return [{ json: { \n    message: '⚠️ YouTube Weekly 라운드 생성 실패\\n\\nError: 응답 데이터 없음',\n    success: false,\n    error: { type: 'no_data', detail: 'No response data' }\n  }}];\n}\n\nconst data = item.json;\n\n// Detect error type: n8n HTTP error vs API error\nlet errorMessage = '';\nlet errorDetail = {};\n\n// Case 1: n8n HTTP error (has error object)\nif (data.error && typeof data.error === 'object') {\n  errorMessage = data.error.message || data.error.description || data.reason || 'Unknown HTTP error';\n  errorDetail = {\n    type: 'http_error',\n    message: errorMessage\n  };\n}\n// Case 2: n8n HTTP error (string message)\nelse if (data.error && typeof data.error === 'string') {\n  errorMessage = data.error;\n  errorDetail = {\n    type: 'http_error',\n    message: errorMessage\n  };\n}\n// Case 3: API returned error (detail field from FastAPI HTTPException)\nelse if (data.detail) {\n  errorMessage = typeof data.detail === 'string' ? data.detail : JSON.stringify(data.detail);\n  errorDetail = {\n    type: 'api_error',\n    message: errorMessage,\n    detail: data.detail\n  };\n}\n// Case 4: Other API error\nelse {\n  errorMessage = typeof data.message === 'string' ? data.message : JSON.stringify(data);\n  errorDetail = {\n    type: 'api_error',\n    message: errorMessage,\n    body: data\n  };\n}\n\n// Truncate long error messages\nif (errorMessage.length > 500) {\n  errorMessage = errorMessage.substring(0, 500) + '...';\n}\n\nconst message = `⚠️ YouTube Weekly 라운드 생성 실패\\n\\nError: ${errorMessage}`;\n\nreturn [{ json: { message, success: false, error: errorDetail } }];"
      },
      "id": "code-failure-msg",
      "name": "Failure Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 400]
    }
  ],
  "connections": {
    "Every Friday 09:00": {
      "main": [
        [
          {
            "node": "Prepare Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Prepare Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Body": {
      "main": [
        [
          {
            "node": "Create Round API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Round API": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Success Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failure Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "4",
  "triggerCount": 2,
  "tags": [
    {
      "name": "youtube"
    },
    {
      "name": "automation"
    },
    {
      "name": "loop-api"
    }
  ]
}
